button:focus {
    outline: none
}

.btn-blue {
    background: #30B4D1;
    border-radius: 12px;
    padding: 10px 55px;
    color: #fff;
    font-family: rounded-regular;
    border-color: transparent;
    transition: all .5s ease;
    &:hover {
        background-color: #056986;
    }
}

.brown-btn {
    background-color: #5D2524;
    border: 2px solid $brown-bg;
    width: fit-content;
    color: #fff;
    font-family: rounded-regular;
    padding: 13px 46px;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.045em;
    border-radius: 12px;
    margin: 1rem 0;
    transition: all .5s ease;
    &:hover {
        text-decoration: none;
        color: #fff;
        background-color: #774d4c;
    }
}

.btn-outline {
    border-radius: 10px;
    border: 2px solid $brown-bg;
    background-color: transparent;
    font-size: 13px;
    font-family: rounded-bold;
    color: $brown-text;
    padding: 9px 14px;
    transition: all .5s ease;
    i {
        color: #4ABBC1;
        margin-right: 9px;
    }
    &:hover {
        background-color: $brown-bg !important;
        color: #fff !important;
    }
    &:focus {
        outline: none;
    }
}

.btn-outline-yellow {
    border: 2px solid #FCF18C;
    border-radius: 12px;
    background-color: transparent;
    font-size: 13px;
    font-family: rounded-bold;
    padding: 9px 14px;
    transition: all .5s ease;
    color: $brown-text;
    i {
        color: #4ABBC1;
        margin-right: 9px;
    }
    &:hover {
        background-color: #FCF18C !important;
        color: $brown-text !important;
    }
}

.btn-outline-blue {
    border-radius: 10px;
    border: 2px solid $blue-bg;
    background-color: transparent;
    font-family: rounded-bold;
    padding: 4px 11px;
    transition: all .5s ease;
    color: $blue-text;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.035em;
    display: flex;
    align-items: center;
    img {
        margin-right: 8px;
    }
    &:hover {
        background-color: $blue-bg;
        color: #fff;
        img {
            filter: brightness(4.5);
        }
    }
}

.button-modal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
        padding: 13px;
        font-size: 15px;
        line-height: 21px;
        text-align: center;
        letter-spacing: 0.03em;
        margin: 28px 0 0;
    }
}