.main-slider {
    overflow: hidden;
    position: relative;
    .slick-slider {
        max-height: 655px;
    }
    .main-slider-item {
        img {
            pointer-events: none;
            width: 100%;
            object-fit: cover;
        }
    }
    .slick-prev,
    .slick-next {
        z-index: 99;
        background-size: contain;
        background-repeat: no-repeat;
        top: 48%;
    }
    .slick-prev {
        height: 57px;
        width: 57px;
        background-image: url(./assets/icons/slider-prev.svg) !important;
        left: 4%;
        &::before {
            display: none;
        }
        &:hover {
            opacity: .8;
        }
    }
    .slick-next {
        width: 57px;
        height: 57px;
        right: 4%;
        background-image: url(./assets/icons/slider-next.svg) !important;
        &::before {
            display: none;
        }
        &:hover {
            opacity: .8;
        }
    }
    .slick-dots {
        bottom: 12%;
        li {
            button {
                &:before {
                    font-size: 15px;
                    color: #FFFFFF;
                    opacity: 0.34;
                }
            }
        }
        .slick-active {
            button {
                &:before {
                    font-size: 15px;
                    color: #FFFFFF;
                    opacity: 1;
                }
            }
        }
    }
}

.slider-text {
    position: absolute;
    max-width: 620px;
    top: 18%;
    h2 {
        font-size: 62px;
        letter-spacing: 0.02em;
        color: #fff;
        font-family: appetite-rounded;
        margin: 0;
    }
    .slider-deskr {
        display: flex;
        align-items: center;
        img {
            margin-right: 23px;
        }
        p {
            margin-top: 20px;
            color: #fff;
            font-size: 24px;
            letter-spacing: 0.03em;
            font-family: rounded-light;
        }
        img {
            max-width: 56px;
        }
    }
    button {
        margin-top: 1rem;
        padding: 13px 26px;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        letter-spacing: 0.045em;
        color: #fff;
    }
}

.slider-product {
    .slick-slide {
        padding: 3px 0;
    }
    .slick-arrow {
        width: 20px;
        height: 25px;
        &::before {
            display: none;
        }
        background-repeat: no-repeat !important;
        background-size: contain;
    }
    .slick-prev {
        background-image: url(./assets/icons/left-slider.svg) !important;
        left: -55px;
    }
    .slick-next {
        background-image: url(./assets/icons/right-slider.svg) !important;
        right: -55px;
    }
}

.select {
    display: flex;
}

.vueperslide__content-wrapper {
    box-shadow: none !important;
}

.slider-for {
    .vueperslides__parallax-wrapper {
        height: 300px;
        padding: 0;
        .vueperslide--visible {
            background-size: 100% !important;
        }
    }
}

.vueperslide__content-wrapper {
    box-shadow: 0px 0px 7px rgba(180, 140, 104, 0.18);
}

.slider-nav {
    width: 270px;
    margin: 0 auto;
    .vueperslide {
        background-size: 70px;
        background-repeat: no-repeat;
        width: 80px !important;
        height: 80px !important;
        margin: 0 5px;
    }
    .vueperslide--active {
        border: 2px solid #4ABBC1;
        border-radius: 4px;
    }
}

.vueperslides:not(.no-shadow):not(.vueperslides--3d) .vueperslides__parallax-wrapper:after,
.vueperslides:not(.no-shadow):not(.vueperslides--3d) .vueperslides__parallax-wrapper:before {
    box-shadow: none !important;
}

.vueperslides__arrow--prev {
    left: -2em !important;
    background-image: url(./assets/icons/prev-product.svg) !important;
}

.vueperslides__arrow--next {
    right: -2em !important;
    background-image: url(./assets/icons/right-product.svg) !important;
}

.vueperslides__arrow {
    transform: translateY(-100%) !important;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    svg {
        display: none;
    }
    &:focus {
        outline: none;
    }
    &:hover {
        opacity: .7;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1190px) {
    .slider-text {
        h2 {
            font-size: 35px;
        }
        .slider-deskr {
            p {
                font-size: 16px;
            }
        }
    }
}

@media only screen and (min-width: 1190px) and (max-width: 1490px) {
    .slider-text {
        h2 {
            font-size: 45px;
        }
        .slider-deskr {
            p {
                font-size: 20px;
            }
        }
    }
}