input,
textarea:focus {
    outline: none;
}

.activeDropdown {
    transform: rotate(-180deg);
    transition: all .5s ease;
}

.invalid {
    border: 1px solid #FF2E47 !important;
}

.inscription-error {
    .valid {
        color: #5BBD76 !important;
        font-size: 12px;
        line-height: 17px;
        text-align: right;
        letter-spacing: 0.045em;
        font-family: rounded-bold;
    }
}

.profileDropdown {
    display: block;
}

.change-text {
    margin-left: 25px;
    font-size: 12px;
    line-height: 17px;
    text-align: right;
    letter-spacing: 0.045em;
    color: #4ABBC1;
    font-family: rounded-bold;
}

.input-reg .valid {
    background: #F1FDF5;
    border: 1px solid #5BBD76;
}

.error-text.invalid {
    border: none !important;
    color: #FF2E47;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.035em;
}

.inscription-error {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .error-text.invalid {
        font-weight: bold;
    }
}

input,
textarea {
    color: $brown-text;
    font-family: rounded-medium;
    &::placeholder {
        color: $brown-text;
    }
}

.dropdown-menu-header {
    background-color: #fff;
    position: absolute;
    padding: 25px 18px;
    filter: drop-shadow(0px 0px 6px rgba(92, 55, 0, 0.1));
    border: none;
    top: 50px;
    display: block;
    left: -20px;
    ul {
        background: #FFFFFF;
        border-radius: 8px;
        display: block !important;
        li {
            img {
                width: 15px;
                object-fit: none;
                margin-right: 11px;
            }
            a {
                color: $brown-text;
                font-size: 15px;
                line-height: 21px;
                letter-spacing: 0.03em;
                text-decoration: none;
                &:hover {
                    color: $blue-text;
                }
            }
        }
    }
}

.profile {
    filter: drop-shadow(0px 0px 6px rgba(92, 55, 0, 0.1));
    border-radius: 8px;
    width: 270px;
    left: -75px;
    background-color: #fff;
    position: absolute;
    padding: 25px 30px;
    border: none;
    top: 60px;
    display: block;
    z-index: 99;
    .tabs-btn {
        margin-bottom: 20px !important;
    }
    .brown-btn {
        width: 100%;
        margin-top: 20px;
        padding: 15px 0;
        font-size: 15px;
    }
    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 10px;
        height: 10px;
        background-color: #fff;
        transform: rotate(45deg);
        top: -5px;
        left: 130px;
    }
}

.input-pass {
    text-align: right;
    a {
        display: block;
        font-size: 11px;
        line-height: 15px;
        text-align: right;
        letter-spacing: 0.035em;
        color: #4ABBC1;
        text-decoration: none;
        &:hover {
            color: $brown-text;
        }
    }
}

.activeCategory {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        border-radius: 1.5px;
        background-color: $brown-bg;
        bottom: -12px;
    }
}

.input-text {
    background-color: #FFFAEE;
    border: none;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    &:focus {
        outline: none;
    }
}

label {
    font-family: rounded-regular;
    color: $brown-text;
}

.back-sms {
    display: flex;
    align-items: center;
    font-size: 11px;
    margin-left: 3px;
    margin-top: -9px;
    span {
        font-family: rounded-regular;
    }
    a {
        font-size: 12px;
        margin-bottom: 0;
        font-family: rounded-bold;
    }
    span.blue-text {
        margin: 0 3px 0 14px;
    }
}

.label-date {
    font-size: 12px;
    display: flex;
    align-items: center;
    letter-spacing: 0.035em;
    position: relative;
    img {
        margin-left: 5px;
    }
    &:hover {
        .tooltip-product {
            display: flex;
            top: -50px;
        }
    }
}

input[type=text] {
    height: 45px;
}

.input-num {
    margin-bottom: 20px;
    width: fit-content;
    background-color: #FFFAEE;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    width: 100%;
    font-family: rounded-regular;
    justify-content: space-between;
    border: none;
    border-radius: 8px;
    font-size: 13px;
    height: 45px;
    img {
        margin-right: 8px;
    }
    input {
        padding: 1px;
        color: $brown-text;
        &::placeholder {
            color: $brown-text;
        }
    }
    &:focus {
        border: 1px solid $brown;
    }
}

.tooltip-product {
    position: absolute;
    background-color: #5D2524;
    border-radius: 7px;
    color: #fff;
    padding: 10px 15px;
    width: 200px;
    top: -75px;
    display: none;
    justify-content: center;
    p {
        font-family: rounded-regular;
        font-size: 12px;
        margin-bottom: 0;
        color: #fff;
    }
    &::after {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        background-color: #5D2524;
        position: absolute;
        transform: rotate(45deg);
        border-radius: 3px;
        bottom: -5px;
    }
}

.product-features {
    &:hover {
        .tooltip-product {
            display: flex;
        }
    }
}

.input-check {
    width: 25px;
    height: 20px;
    position: relative;
    border-radius: 4px;
    border: 2px solid #4ABBC1;
    -webkit-box-sizing: border-box;
    -webkit-appearance: none;
    display: inline-block;
    flex-basis: 20px;
    -webkit-transform: scale(1.3, 1.3);
    cursor: pointer;
    &:focus {
        outline: none;
    }
    &::after {
        content: "";
        position: absolute;
        width: 80%;
        height: 80%;
        left: 10%;
        top: 10%;
        background-color: transparent;
        border-radius: 2px;
    }
    &::before {
        content: url("./assets/images/success.png");
        width: 13px;
        height: 9px;
        position: absolute;
        top: -5px;
        left: 4px;
        z-index: 99;
        border-top: none;
        border-right: none;
        background: transparent;
        opacity: 0;
    }
    &:checked {
        &::before {
            opacity: 1;
        }
        &::after {
            background-color: #4ABBC1;
        }
    }
}

.active-dropdown {
    transform: rotate(180deg);
}

.showclean {
    display: none;
}

.addBonus {
    animation-duration: 1s;
    animation-name: addBonus;
    // animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes addBonus {
    from {
        transform: scale(1)
    }
    to {
        transform: scale(1.2);
        background-color: #db6765;
        ;
    }
}

.time-delivery {
    .v-select.vs--single.vs--searchable {
        background: #FFFAEE;
        border-radius: 8px;
        width: 170px;
        height: 45px;
    }
    .vs--searchable .vs__dropdown-toggle {
        height: 100%;
    }
}

.padding-block {
    padding: 35px 50px;
}

.icon-social {
    display: flex;
    align-items: center;
}

.icon {
    font-size: 22px;
    margin-right: 15px;
    border: 2px solid #5D2524;
    border-radius: 50%;
    a {
        display: block;
        color: #FCF18C;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: all .5s ease;
        &:hover {
            text-decoration: none;
            background-color: #5D2524;
        }
    }
}

.burger {
    height: 25px;
    width: 30px;
    align-items: center;
    justify-content: center;
    span {
        width: 100%;
        height: 3px;
        border-radius: 2px;
        background-color: #5D2524;
        display: block;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            height: 3px;
            width: 100%;
            border-radius: 2px;
            background-color: #5D2524;
            top: 7.5px;
            transition: all .5s ease;
        }
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            border-radius: 2px;
            background-color: #5D2524;
            top: -7.5px;
            transition: all .5s ease;
        }
    }
}

.burgerActive {
    span {
        background-color: transparent;
        &::after {
            content: '';
            top: 0;
            transform: rotate(45deg);
        }
        &::before {
            content: '';
            top: 0;
            transform: rotate(-45deg);
        }
    }
}

.modal-top {
    display: flex;
    justify-content: space-between;
}

.modal-top-right {
    display: flex;
    align-items: center;
    img {
        margin-right: 8px;
    }
    span {
        &:hover {
            .tooltip-product {
                display: block;
            }
        }
    }
    .tooltip-product {
        top: -12px !important;
    }
}

.new {
    width: 79px;
    height: 26px;
    background: #44A5FF;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 14px;
    font-family: rounded-medium;
}

.clock-icon {
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #9344C4;
    border-radius: 7px;
}

.fade-enter-active,
.fade-leave-active {
    transition: all .5s;
}

.fade-enter,
.fade-leave-to {
    transform: translateY(-50px);
    opacity: 0;
}

.product-features {
    display: flex;
    span {
        margin-right: 5px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        .tooltip-product {
            top: -45px;
            width: max-content;
        }
    }
}

.region-select {
    border: 2px solid #5D2524;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 2px 10px;
    .v-select {
        min-width: 130px;
        font-size: 12px;
        letter-spacing: 0.035em;
        line-height: 18px;
        font-weight: rounded-bold;
    }
    .vs__selected {
        margin-bottom: 0 !important;
    }
}

.vs__dropdown-toggle {
    cursor: pointer !important;
    padding: 0 !important;
    height: 26px;
}

#vs5__listbox {
    overflow: hidden;
}

#vs5__listbox {
    margin-top: 5px !important;
}

.vs__search {
    cursor: pointer;
}

.region-select .vs__dropdown-menu {
    background-color: #fff !important;
    border-radius: 8px;
    right: -12px !important;
    left: auto !important;
    width: fit-content !important;
    box-shadow: (0px 0px 6px rgba(92, 55, 0, 0.1));
    padding: 15px 16px 10px;
    font-size: 15px !important;
    border: none;
    margin-top: 10px;
    div,
    a,
    span,
    li {
        background: none !important;
        color: $brown-text;
        font-family: rounded-bold;
        margin-bottom: 5px;
        position: relative;
        &:hover {
            color: $blue-text;
        }
        &::after {
            content: url(./assets/icons/home.svg) !important;
            position: absolute;
            left: -5px;
        }
    }
}

.popup-wrapper {
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    box-shadow: 0px 3px 20px -7px rgba(132, 92, 14, 0.3);
    border-radius: 10px;
    z-index: 999;
    .modal-left {
        padding: 30px 40px;
        .modal-img {
            text-align: center;
            margin: 20px 0;
            img {
                width: 80%;
                max-width: 80%;
            }
        }
    }
    .modal-right {
        height: 100%;
        padding: 40px;
        background: #FFFCF3;
        border-radius: 0px 10px 10px 0px;
        .title {
            margin-bottom: 20px;
        }
        .modal-deskr {
            p {
                font-size: 13px;
                line-height: 18px;
                letter-spacing: 0.035em;
            }
        }
        .composition {
            display: flex;
            align-items: baseline;
            b {
                color: $brown-text;
                margin-right: 10px;
                font-size: 14px;
                font-family: rounded-bold;
            }
            p {
                margin: 0;
                font-size: 13px;
            }
        }
        .product-count {
            justify-content: space-between;
            display: flex;
            align-items: center;
            margin-top: 37px;
            h3 {
                font-family: rounded-bold;
                color: $brown-text;
            }
            .small-text {
                font-size: 13px;
                line-height: 18px;
                color: $brown-text;
                letter-spacing: 0.035em;
            }
            .total-count {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }
        }
    }
}

.modal-bottom {
    ul {
        padding: 0;
        columns: 2;
        max-height: 150px;
        margin-top: 25px;
        li {
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            p {
                color: $silver-text;
                display: flex;
                justify-content: space-between;
                font-size: 12px;
            }
            span {
                color: $brown-text;
                font-size: 12px;
                width: 50%;
                &:last-child {
                    text-align: left;
                    font-family: rounded-bold;
                }
            }
        }
    }
}

.modal-bottom-mobile {
    display: none;
}

.modal-product {
    background-color: #fff;
    max-width: 920px;
    box-shadow: 0px 3px 20px -7px rgba(132, 92, 14, 0.3);
    border-radius: 10px;
    position: relative;
    margin: 5vh auto;
}

.exit {
    position: absolute;
    z-index: 999999;
    right: -25px;
    top: -25px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 3px 13px -5px rgba(132, 92, 14, 0.39);
    border-radius: 50%;
    transition: all .5s ease;
    color: $brown-text;
    &:hover {
        background-color: $brown-bg;
        color: #fff;
    }
}

.cake-reg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 99;
    box-shadow: 0px 3px 20px -7px rgba(132, 92, 14, 0.3);
    border-radius: 10px;
    margin-bottom: 5vh;
    .cake-reg-header {
        background: #FFFCF3;
        border-radius: 0px 10px 10px 0px;
        padding: 35px 50px;
    }
    .cake-reg-content {
        padding: 30px 50px;
        .category-title {
            width: fit-content;
            margin: 0 auto;
            padding-bottom: 8px;
            border-bottom: 3px solid #E3FAFB;
            border-radius: 1.5px;
            margin-bottom: 30px;
            a {
                margin: 0 20px;
                font-size: 16px;
                line-height: 22px;
                letter-spacing: 0.04em;
                color: $blue-text;
                font-family: rounded-bold;
                text-decoration: none;
                &:first-child {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    .cake-category {
        padding: 0px 50px 50px;
    }
    .cardActive {
        border-color: $brown-bg !important;
        position: relative;
        &::before {
            content: url("./assets/icons/selected.svg");
            width: 32px;
            height: 32px;
            position: absolute;
            top: -16px;
            right: -16px;
        }
    }
    .card-cake {
        text-align: center;
        border: 2px solid #DBF6FF;
        box-sizing: border-box;
        box-shadow: 0px 12px 11px -11px rgba(0, 138, 182, 0.12);
        border-radius: 10px;
        margin-bottom: 25px;
        cursor: pointer;
        .card-cake-img {
            padding: 20px 30px 0px;
            max-width: 234px;
            max-height: 170px;
            margin: 0 auto;
            img {
                width: 100%;
                max-height: 117px;
                object-fit: contain;
            }
        }
        .card-cake-text {
            padding: 10px 30px 30px;
            b {
                font-size: 17px;
                line-height: 24px;
                text-align: center;
                letter-spacing: 0.035em;
                font-family: rounded-bold;
                color: $brown-text;
            }
            P {
                margin: 10px 0 15px;
                font-size: 14px;
            }
            .cake-price {
                background: #FFF2D3;
                border-radius: 10px;
                width: fit-content;
                margin: 0 auto;
                padding: 8px 15px;
                p {
                    margin: 0;
                    font-size: 20px;
                    line-height: 28px;
                    text-align: center;
                    letter-spacing: 0.03em;
                    font-family: rounded-bold;
                }
            }
        }
        &:hover {
            .card-cake-text {
                background-color: #FFFCF3;
                border-radius: 0 0 10px 10px;
            }
        }
    }
}

.title-reg {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    h2 {
        margin-bottom: 0;
    }
}

.prev-link {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    img {
        margin-right: 15px;
    }
    a {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.035em;
        color: $blue-text;
        text-decoration: none;
    }
}

.inscription,
.withRegistration {
    form {
        label {
            font-size: 13px;
            color: $brown-text;
            letter-spacing: 0.04em;
            margin: 0;
        }
    }
}

.input-reg {
    display: flex;
    align-items: center;
    position: relative;
    input {
        width: 100%;
        margin: 8px 0 10px;
        background: #FFFAEE;
        border-radius: 8px;
        font-size: 13px;
        padding: 12px 17px;
        border: none;
        &::placeholder {
            font-size: 13px;
            line-height: 18px;
            letter-spacing: 0.03em;
            color: #BDAFAF;
        }
        &:focus {
            outline: none;
        }
    }
    button {
        right: 4px;
        position: absolute;
        font-size: 12px;
        padding: 5px 19px;
        border-radius: 7px;
        i {
            margin-right: 8px;
        }
    }
}

.inscription-text {
    margin-bottom: 30px;
}

.input-text {
    width: 100%;
    margin: 8px 0 10px;
    background: #FFFAEE;
    border-radius: 8px;
    font-size: 13px;
    padding: 12px 17px;
    border: none;
    &::placeholder {
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 0.03em;
        color: #BDAFAF;
    }
    &:focus {
        outline: none;
    }
}

.hard {
    .hard-content {
        background: #FFF2D3;
        border-radius: 8px;
        padding: 14px 30px;
        .title-reg {
            font-size: 15px;
            line-height: 24px;
            letter-spacing: 0.04em;
            display: flex;
            align-items: center;
            justify-content: end;
            font-family: rounded-medium;
            margin-bottom: 13px;
            p {
                margin-bottom: 0;
                font-family: rounded-medium;
            }
            a {
                font-family: rounded-medium;
                color: $brown-text;
                img {
                    margin-bottom: -12px;
                }
            }
        }
    }
    .hard-text {
        display: flex;
        align-items: flex-end;
        margin-bottom: 20px;
        p {
            margin-bottom: 5px;
        }
        button {
            width: 35%;
            font-size: 13px;
        }
    }
}

.hard-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    .brown-btn {
        padding: 15px 25px;
        font-size: 15px;
        margin-right: 10px;
    }
    .btn-outline {
        font-size: 15px;
        padding: 13px 25px;
    }
    a {
        transition: all .5s ease;
        text-decoration: none;
        &:hover {
            color: $brown-text !important;
        }
    }
}

.order-reg {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .order-red-img {
        box-shadow: (0px 0px 7px rgba(180, 140, 104, 0.18));
        width: 80px;
        height: 80px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 32px;
    }
    img {
        max-width: 72px;
        max-height: 64px;
        margin: 0 auto;
    }
    .order-reg-text {
        width: 50%;
        display: flex;
        align-items: end;
        p {
            font-size: 13px;
            color: #C2B1A8;
        }
    }
    .order-reg-price {
        font-size: 20px;
        line-height: 28px;
        text-align: right;
        letter-spacing: 0.03em;
        color: $brown-text;
    }
}

.order-modal-bottom {
    margin-top: 44px;
    ul {
        padding: 0;
        li {
            list-style-type: none;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            p {
                margin-bottom: 0;
            }
            span {
                font-size: 20px;
                line-height: 28px;
                text-align: right;
                letter-spacing: 0.03em;
                font-family: rounded-bold;
                color: $brown-text;
                min-width: 80px;
            }
        }
    }
    .hard-bottom {
        margin-top: 0;
        display: flex;
        justify-content: space-between;
        div {
            img {
                margin-right: 12px;
            }
            display: flex;
            align-items: center;
        }
    }
}

// .star {
//     display: inline-flex;
//     align-items: center;
//     flex-direction: row-reverse;
//     .star-item {
//         color: #F3E2C8;
//         cursor: pointer;
//         transition: all .5s ease;
//         &:hover {
//             color: #c08e0c;
//             ~.star-item {
//                 color: #c08e0c;
//             }
//         }
//     }
// }
// .star[data-total-value="1"].star-item:nth-child(n+5),
// .star[data-total-value="2"].star-item:nth-child(n+4),
// .star[data-total-value="3"].star-item:nth-child(n+3),
// .star[data-total-value="4"].star-item:nth-child(n+2),
// .star[data-total-value="5"].star-item:nth-child(n+1) {
//     color: orange;
// }
.star {
    display: flex;
    align-items: center;
    .star-item {
        margin: 0 2.5px;
        display: none;
    }
    label {
        display: block;
        cursor: pointer;
        width: 15px;
        height: 15px;
        &::before {
            content: '★';
            display: block;
            position: absolute;
            color: #FFB800;
            top: 0;
            left: 0;
            position: relative;
        }
    }
}

.reviews-success {
    position: absolute;
    z-index: 8888;
    background: #FFFFFF;
    box-shadow: 0px 3px 20px -7px rgba(132, 92, 14, 0.3);
    border-radius: 10px;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    .reviews-success-text {
        text-align: center;
        b {
            font-size: 40px;
            line-height: 48px;
            text-align: center;
            letter-spacing: 0.025em;
            display: block;
            color: $brown-text;
            margin: 20px 0;
        }
        p {
            font-size: 21px;
            line-height: 24px;
            text-align: center;
            letter-spacing: 0.03em;
        }
    }
    .prev-link {
        top: 30px;
        left: 30px;
    }
}

.vue-stars {
    label {
        margin: 0;
    }
}

.selected-adress {
    color: $blue-text;
    font-family: rounded-bold;
}

.vue-stars {
    align-items: center;
}

.go-up {
    position: absolute;
    top: 0;
    width: 53px;
    height: 53px;
    right: 20px;
    background: #FFFFFF;
    box-shadow: 0px 3px 13px -5px rgba(132, 92, 14, 0.39);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .5s ease;
    &:hover {
        background-color: #ccc;
    }
}

.mobile-fixed-cart {
    display: none;
    cursor: pointer;
    min-width: 107px;
    min-height: 44px;
    padding: 0 10px;
    background: #4ABBC1;
    border-radius: 10px;
    position: fixed;
    bottom: 2%;
    right: 5%;
    align-items: center;
    justify-content: space-evenly;
    z-index: 9999;
    img {
        max-width: 17px;
        max-height: 17px;
        margin-right: 10px;
    }
    b {
        color: #fff;
        font-size: 17px;
        line-height: 23px;
        letter-spacing: 0.04em;
    }
}

.modal-product-mobile {
    max-width: 90%;
    position: relative;
    margin: 5vh auto;
}

.code-dropdown {
    p {
        font-size: 11px;
        line-height: 15px;
        letter-spacing: 0.035em;
        color: #5D2524;
    }
    .code {
        display: flex;
        justify-content: space-between;
        input {
            width: 35px;
            height: 45px;
            background: #FFFAEE;
            box-sizing: border-box;
            border-radius: 8px;
            font-weight: 600;
            font-size: 19px;
            line-height: 26px;
            text-align: center;
            color: #5D2524;
            border: none;
        }
    }
    .timer {
        margin-top: 10px;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.035em;
        color: #5D2524;
        font-family: rounded-bold;
        text-decoration: none;
        &:hover {
            color: $blue-text;
        }
    }
}

.profile-content {
    input {
        &::placeholder {
            color: $brown-text;
        }
    }
}

.dropdown-main {
    label {
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.035em;
        color: #5D2524;
    }
}