footer {
    position: relative;
    margin-top: 90px;
    padding: 65px 0;
    padding: 65px 0;
    background-size: 100% 100%;
    background-position-x: right;
    background-image: url("./assets/images/footer-bg.png");
    .title-link {
        a {
            color: #FCF18C;
            font-size: 19px;
            font-family: rounded-bold;
        }
        margin-bottom: 17px;
    }
    ul {
        padding: 0;
        li {
            list-style-type: none;
            margin-bottom: 10px;
            a {
                color: #4ABBC1;
                transition: all .5s ease;
                font-size: 15px;
                &:hover {
                    text-decoration: none;
                    color: #056986;
                }
            }
        }
    }
    .footer-card {
        a {
            margin-right: 15px;
        }
    }
    .btn-blue {
        margin: 5px 0 20px;
    }
    .footer-last {
        padding-left: 0;
        .title-link {
            position: relative;
            display: flex;
            align-items: end;
            p {
                color: #fff;
            }
            img {
                margin-right: 15px;
            }
            a {
                font-size: 29px;
            }
        }
        ul {
            padding-left: 45px;
        }
        li {
            &:nth-child(2) {
                p {
                    color: #fff;
                }
            }
            &:last-child {
                p {
                    color: #8F7170;
                }
            }
        }
    }
}

.footer-end {
    ul {
        padding: 0;
        display: flex;
        align-items: center;
        margin: 0;
        height: 100%;
        justify-content: space-between;
        li {
            list-style-type: none;
            a {
                font-size: 13px;
            }
        }
    }
}

.logo-simplex {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
}