html {
    scroll-behavior: smooth;
}

.container {
    padding: 0;
}

.vs__search {
    padding: 0 !important;
}

.vs__dropdown-toggle {
    border: none;
}

.vs__open-indicator {
    fill: #5D2524;
    transform: scale(.5);
}

.vs__actions {
    padding: 0 !important;
}

.vs--open .vs__open-indicator {
    transform: rotate(180deg) scale(.5);
}

.vs__selected {
    font-weight: 600;
    font-family: rounded-regular;
    color: #5D2524;
    margin: 0 0 3px;
}

.vs__selected-options {
    flex-wrap: inherit;
}

.city-select {
    display: flex;
    align-items: center;
    margin-right: 10px;

    .v-select {
        min-width: 110px;

        .vs__selecte {
            font-size: 15px;
            line-height: 21px;
            letter-spacing: 0.03em;
        }
    }
}

.lang-select {
    margin-right: 22px;
}

.lang-select {
    .v-select {
        width: 40px;
        font-size: 15px;
    }
}

.header-wrapper {
    position: sticky;
    top: 0;
    z-index: 999;
}

.header {
    background-size: 100% 100%;
    z-index: 999;
    position: relative;
    background-color: #fff;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 81px;
        width: 100%;
        height: 15px;
        background-image: url(./assets/images/bottom-header.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .logo {
        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 230px;
            z-index: 88;
        }
    }

    .nav {
        display: flex;
        justify-content: space-between;
        padding: 20px 0 16px;
        align-items: center;

        ul {
            margin: 0;
            padding: 0;
        }

        li {
            list-style-type: none;

            i {
                color: #5D2524;
            }
        }

        .nav-links {
            padding: 0;
            display: flex;
            margin-left: -7px;

            li {
                list-style-type: none;
                margin-right: 46px;

                &:last-child {
                    margin-right: 0 !important;
                }

                a {
                    font-weight: 600;
                    font-size: 19px;
                    color: #5D2524;
                    font-family: rounded-regular;
                    letter-spacing: 0.045em;
                    text-decoration: none;
                    transition: all .2s ease;

                    &:hover {
                        color: $blue-text;
                    }
                }
            }
        }
    }

    .header-right {
        ul {
            &:first-child {
                display: flex;
                align-items: center;
            }
        }
    }

    .dropdown-main {
        position: relative;
    }

    .bonus-user {
        height: 45px;
        background-color: #FCF18C;
        border-radius: 10px;
        display: flex;
        align-items: center;
        color: #5D2524;
        font-family: rounded-regular;
        padding: 13px 14px;
        transition: all .5s ease;
        cursor: pointer;
        stroke: $brown-bg;

        svg {
            margin-right: 11px;
        }

        b {
            font-size: 15px;
            line-height: 21px;
            letter-spacing: 0.03em;
            color: #5D2524;
            font-family: rounded-bold;
        }

        .bonus {
            font-size: 22px;
            line-height: 0;
        }

        p {
            margin-bottom: 0;
            font-size: 11px;
            line-height: 10px;
        }

        &:hover {
            background-color: $brown-bg;
            stroke: #FCF18C;

            .bonus-count {
                b {
                    color: #FCF18C;
                }

                p {
                    color: #FCF18C;
                }
            }
        }

        .dropdown-header {
            position: absolute;
            left: 0;
        }
    }

    .cart-head {
        cursor: pointer;
        width: 50px;
        height: 45px;
        background-color: #5D2524;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        margin-left: 8px;

        a {}
    }

    .dropdown-cart {
        padding-top: 20px;
        max-height: 600px;
        overflow-y: hidden;
        min-width: 290px;
        max-width: 290px;
        -webkit-filter: drop-shadow(0px 0px 6px rgba(92, 55, 0, 0.1));
        filter: drop-shadow(0px 0px 6px rgba(92, 55, 0, 0.1));
        border-radius: 10px;
        background-color: #fff;
        position: absolute;
        left: -200px;
        border: none;
        top: 60px;
        display: block;
        z-index: 99;

        &::after {
            content: '';
            position: absolute;
            display: block;
            width: 10px;
            height: 10px;
            background-color: #fff;
            transform: rotate(45deg);
            top: -5px;
            right: 60px;
        }

        &::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 1px;
            max-height: 10px;
            height: 10px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 2px;
            height: 20px;
            background-color: rgba(0, 0, 0, 0.1);
            -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
        }

        &:hover {
            overflow-y: scroll;
        }

    }

    .list-vertical {
        .basket {
            padding: 10px 25px 10px;
            display: block;
            position: relative;

            .product-count {
                display: flex;

                span {
                    &:hover {
                        i {
                            color: #fff;
                        }
                    }
                }
            }

            .delete-basket {
                top: 15px;
                right: 24px;
            }
        }

        .product-features {
            .tooltip-product{
                display: none !important;
            }
        }
    }

    .cart-head {
        position: relative;
    }

    .cart-length {
        position: absolute;
        width: 20px;
        height: 20px;
        background: #4ABBC1;
        top: -10px;
        right: -10px;
        font-family: rounded-bold;
        font-size: 12px;
        line-height: 17px;
        text-align: center;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
    }
}

.cart-empty-head {
    text-align: center;
    padding: 40px 0;
    box-shadow: 0px 7px 19px -7px rgba(132, 92, 14, 0.2);
    border-radius: 10px;

    h5 {
        margin-top: 25px;
        margin-bottom: 16px;
        font-size: 21px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #5D2524;
        font-family: rounded-medium;
    }

    p {
        font-size: 15px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.035em;
        color: #C2B1A8;
        font-family: rounded-light;
    }
}

.burger {
    display: none;
    z-index: 99;
}

.nav-mobile {
    width: 100%;
    height: 100%;
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-200%);
    transition: all .5s ease;
    background-color: #fff;
    padding: 20px;

    .title-link {
        display: flex;
        align-items: center;

        img {
            margin-right: 10px;
        }

        a {
            color: #5D2524;
            font-size: 21px;
            letter-spacing: 0.06em;
            font-family: rounded-bold;
        }
    }

    .nav-mobile-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
    }

    .nav {
        flex-direction: column;

        ul {
            flex-direction: column;
        }
    }

    .nav-links {
        margin: 2rem 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        li {
            margin-bottom: 25px;

            a {
                color: #5D2524;
                font-size: 22px;
                font-family: rounded-bold;
            }
        }
    }

    li {
        list-style-type: none;
    }

    .btn-mobile-menu {
        button {
            width: 100%;
            letter-spacing: 0.05em;
            font-size: 16px;
            padding: 9px 0;
            align-items: center;
            justify-content: center;
            height: 60px;
        }
    }

    .bonus-mobile {
        display: flex;
        justify-content: flex-end;
    }
}

.mobile-cart {
    display: none;

    i {
        font-size: 28px;
        font-weight: bold;
        color: #5D2524;
        position: relative;

        span {
            color: #fff;
            position: absolute;
            right: -9px;
            top: 3px;
            font-style: initial;
            font-size: 12px;
            background-color: $blue-bg;
            min-width: 20px;
            min-height: 20px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.activeMenu {
    transform: translate(0);
    transition: all .5s ease;
}

.bottom-nav {
    background: #FCF18C;
    box-shadow: 0px 5px 10px -6px rgba(25, 52, 61, 0.31);
    padding: 45px 0 22px;
    display: flex;
    width: 100%;
    z-index: 1;
    margin-top: -3px;
    transform: translateY(-200%);
    position: absolute;
    transition: all 1s ease;

    ul {
        display: flex;
        padding: 0;
        margin-bottom: 0;

        li {
            list-style-type: none;
            margin-right: 60px;
            position: relative;
            display: flex;
            align-items: center;

            &:after {
                content: '';
                width: 4px;
                height: 4px;
                background-color: $blue-bg;
                position: absolute;
                right: -30px;
                border-radius: 50%;
            }

            &:last-child {
                &::after {
                    display: none;
                }
            }

            a {
                color: $brown-text;
                font-size: 17px;
                line-height: 23px;
                letter-spacing: 0.06em;
                text-decoration: none;
                transition: all .2s ease;

                &:hover {
                    color: #4ABBC1;
                }
            }
        }
    }

    .bottom-nav-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .call {
        display: flex;
        align-items: center;

        img {
            margin-right: 9px;
        }

        a {
            font-size: 20px;
            line-height: 24px;
            text-align: right;
            letter-spacing: 0.05em;
            font-family: rounded-bold;
            color: $brown-text;
        }
    }
}