.main-category-wrapper {
    background-color: #EEFDFF;
    padding-bottom: 40px;
    position: relative;
    z-index: 88;
    .main-category {
        max-width: 94%;
        position: relative;
        z-index: 9;
        margin: -28px 0 0;
        display: flex;
        justify-content: space-between;
        background: #FFFFFF;
        box-shadow: 0px 12px 11px -11px rgba(0, 138, 182, 0.12);
        border-radius: 10px;
        height: 170px;
        padding: 36px 80px;
        box-shadow: 0px 12px 11px -11px rgba(0, 138, 182, 0.12);
        border-radius: 10px;
        width: 1160px;
        left: 50%;
        top: -30px;
        transform: translateX(-50%);
        .category {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            img {
                margin-bottom: 15px;
                width: 57px;
                min-height: 57px;
                max-height: 57px;
                object-fit: contain;
            }
            p {
                font-size: 20px;
                letter-spacing: 0.03em;
                margin-bottom: 0;
                font-family: rounded-bold;
            }
            &:hover {
                a {
                    text-decoration: none;
                    P {
                        color: $blue-text;
                    }
                }
            }
        }
    }
}

.new-card {
    width: 95% !important;
    display: flex !important;
    align-items: center;
    background-color: #fff;
    padding: 15px 25px;
    min-height: 160px;
    margin: 0 auto;
    box-shadow: 0px 12px 11px -11px rgba(0, 138, 182, 0.2);
    border-radius: 10px;
    &:focus {
        outline: none;
    }
    img {
        max-width: 120px;
    }
    a {
        font-size: 17px;
        line-height: 24px;
        letter-spacing: 0.035em;
        font-family: rounded-bold;
        text-decoration: none;
        color: $brown-text;
        display: flex;
        align-items: end;
        transition: all .5s ease;
        img {
            margin-left: 5px;
            transform: scale(0);
            transition: all .5s ease;
        }
    }
    &:hover {
        a {
            color: $blue-text !important;
            img {
                transform: scale(1);
            }
        }
    }
}

.new-product-text {
    margin-left: 42px;
    margin-top: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 104px;
    .price {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFF2D3;
        border-radius: 10px;
        width: fit-content;
        padding: 9px;
        font-family: rounded-bold;
        transition: all .5s ease;
        p {
            font-family: rounded-bold;
            margin-bottom: 0;
            margin: 0 5px;
            font-weight: bolder;
            font-size: 20px;
        }
        span {
            font-family: rounded-bold;
            font-weight: bolder;
            color: $brown-text;
        }
        text-decoration: none;
        &:hover {
            background-color: $brown-bg;
            p,
            span {
                color: #FCF18C;
            }
        }
    }
}

.all-products {
    padding-top: 165px;
    margin-top: -130px;
}

.products {
    background-color: #fff;
    .col-xl-4 {
        position: static;
    }
    .product {
        padding-bottom: 20px;
        border-radius: 10px;
        transition: all .5s ease;
        position: relative;
        margin-bottom: 40px;
        cursor: pointer;
        transition: all .5s ease;
        &:hover {
            box-shadow: 0px 7px 19px -7px rgba(132, 92, 14, 0.2);
            .title {
                p {
                    color: $blue-text;
                }
                img {
                    transition: all .5s ease;
                    transform: scale(1);
                }
            }
        }
        .products-img {
            cursor: pointer;
        }
        .product-features {
            margin-left: 25px;
            position: absolute;
        }
    }
    .all-products {
        .product-address {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            p {
                font-size: 13px;
                line-height: 24px;
                letter-spacing: 0.04em;
                margin-bottom: 10px;
            }
        }
    }
    .product-link {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        margin-bottom: 35px;
        a {
            color: #5D2524;
            padding: 5px 12px;
            box-shadow: 0px 1px 4px rgba(140, 124, 64, 0.17);
            border-radius: 10px;
            display: block;
            margin-right: 10px;
            margin-bottom: 10px;
            letter-spacing: 0.035em;
            font-size: 15px;
            text-decoration: none;
            &:hover {
                background-color: #fff1df;
            }
        }
    }
    .title {
        margin-top: 10px;
        margin-left: 25px;
        display: flex;
        align-items: center;
        transition: all .5s ease;
        height: 60px;
        p {
            font-size: 20px;
            font-family: rounded-bold;
            letter-spacing: 0.03em;
            color: $brown-text;
            margin-bottom: 0;
            margin-right: 7px;
            transition: all .5s ease;
        }
        img {
            transform: scale(0);
            transition: all .5s ease;
        }
    }
    .products-img {
        min-width: 184px;
        max-width: 184px;
        min-height: 164px;
        max-height: 164px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 100%;
        }
    }
    .product-count {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 27px;
        span {
            padding: 14px 16px;
            &:first-child {
                border-radius: 10px 0px 0px 10px;
            }
            &:last-child {
                border-radius: 0px 10px 10px 0px;
            }
        }
        p {
            font-size: 20px;
            line-height: 21px;
            text-align: center;
            letter-spacing: 0.03em;
            font-family: rounded-bold;
            margin-bottom: 0;
        }
        button {
            font-size: 20px;
            text-align: center;
            letter-spacing: 0.03em;
            padding: 5px 15px;
            margin-left: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.total-count {
    p {
        padding: 0 !important;
        margin-bottom: 0;
        font-size: 13px !important;
        line-height: 18px;
        letter-spacing: 0.035em;
        font-family: rounded-light !important;
        text-align: right !important;
    }
    h3 {
        font-size: 25px;
    }
}

.product-right {
    position: sticky;
    top: 190px;
    margin-top: 60px;
    z-index: 88;
    max-height: 80vh;
    overflow-y: hidden;
    padding: 0 5px;
    &:hover {
        overflow-y: auto;
    }
    &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 1px;
        max-height: 10px;
        height: 10px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 2px;
        height: 20px;
        background-color: rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    }
    .order {
        box-shadow: 0px 7px 19px -7px rgba(132, 92, 14, 0.2);
        border-radius: 10px;
    }
}

.order-header {
    justify-content: space-between;
    cursor: pointer;
    margin-top: 0;
    h3 {
        display: flex;
        align-items: center;
        img {
            margin-right: 12px;
            transition: all .5s ease;
            &:last-child {
                margin-right: 0;
                margin-left: 24px;
            }
        }
        .basket-count {
            min-width: 27px;
            min-height: 27px;
            color: #0086A4;
            border-radius: 50%;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 8px;
            font-size: 14px;
            font-family: rounded-bold;
        }
    }
    .basket-delete {
        cursor: pointer;
        img {
            margin: 0 !important;
        }
    }
}

.basket {
    padding: 25px 20px 10px;
    display: flex;
    align-items: end;
    flex-direction: column;
    position: relative;
    border-bottom: 1px solid #F3F1ED;
    .basket-top {
        display: flex;
        align-items: end;
    }
    .delete-basket {
        position: absolute;
        top: 33px;
        right: 30px;
        line-height: 0;
        cursor: pointer;
        z-index: 9;
    }
    .basket-img {
        min-width: 62px;
        min-height: 62px;
        max-width: 62px;
        max-height: 62px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: (0px 0px 7px rgba(180, 140, 104, 0.18));
        position: relative;
        img {
            width: 85%;
        }
        .product-features {
            display: flex;
            position: absolute;
            top: -20%;
            right: -25%;
        }
    }
    .basket-deskr {
        width: 58%;
        margin-left: 20px;
        position: relative;
        p {
            font-size: 13px;
            line-height: 18px;
            letter-spacing: 0.035em;
            font-family: rounded-light;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        b {
            color: $brown-text;
            font-family: rounded-bold;
            letter-spacing: 0.035em;
        }
    }
    .product-count {
        margin-top: 0;
        width: 100%;
        justify-content: space-between;
        span {
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        h3 {
            font-size: 20px;
            line-height: 28px;
            font-family: rounded-bold;
            color: $brown-text;
        }
    }
}

.basket-last {
    padding: 10px 25px 10px;
    a {
        color: $brown-text;
        text-decoration: none;
        &:hover {
            color: $blue-text;
        }
    }
    a {
        img {
            margin-right: 8px;
        }
    }
    .brown-btn {
        color: #fff;
        padding: 13px 0;
        width: 100%;
        &:hover {
            color: #fff;
        }
    }
    .total-price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h3 {
            font-size: 25px;
            color: $brown-text;
            letter-spacing: 0.03em;
            font-family: rounded-bold;
        }
        p {
            margin-bottom: 0;
        }
        b {
            font-size: 25px;
            line-height: 34px;
            text-align: center;
            letter-spacing: 0.03em;
            color: #5D2524;
            font-family: rounded-bold;
        }
    }
    button {
        width: 100%;
        padding: 13px 0;
    }
    .be-bonus {
        p {
            font-size: 13px;
            display: flex;
            align-items: center;
        }
        b {
            background-color: #5D2524;
            border-radius: 4px;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 5px;
            padding: 0 5px;
            font-size: 13px;
            line-height: 22px;
            margin: 0 5px;
        }
    }
}

.history-orders {
    background: #FFFFFF;
    box-shadow: 0px 7px 19px -7px rgba(132, 92, 14, 0.2);
    border-radius: 10px;
    .order-header {
        margin-top: 24px !important;
        h3 {
            font-size: 19px;
            letter-spacing: 0.04em;
        }
    }
    .history-orders-content {
        border-bottom: 1px solid #F3F1ED;
        padding: 16px 25px 20px;
        .history-order-header {
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.035em;
            font-family: rounded-bold;
            color: $blue-text;
        }
        p {
            margin-bottom: 0;
        }
        b {
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.035em;
            font-family: rounded-bold;
        }
        .blue-text {
            margin-top: 5px;
            font-size: 13px;
        }
        button {
            font-size: 15px;
            margin-top: 13px;
            padding: 5px 20px;
        }
    }
    .order-info {
        margin-top: 10px;
        p {
            font-size: 13px;
            line-height: 18px;
            letter-spacing: 0.035em;
            margin-bottom: 10px;
        }
        b {
            font-size: 13px;
            line-height: 24px;
            letter-spacing: 0.035em;
            color: $brown-text;
        }
    }
    .all-history {
        padding: 22px 0;
        font-size: 13px;
        font-family: rounded-bold;
        text-align: center;
        letter-spacing: 0.035em;
    }
}

.orderShow {
    color: $brown-text !important;
    opacity: .5;
}

.reviews-header {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    .reviews-top {
        display: flex;
        p {
            margin-bottom: 0;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 0.035em;
            display: flex;
            align-items: center;
            color: $blue-text;
            span {
                margin: 0 7px;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                background-color: #FFF2D3;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 12px;
                font-weight: bold;
                color: $brown-text;
            }
        }
        button {
            font-size: 12px;
            letter-spacing: 0.035em;
            padding: 4px 13px !important;
            color: #fff;
            font-weight: bold;
            font-family: rounded-regular;
            &:hover {
                background-color: #418589;
            }
        }
    }
}

.reviews {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    .reviews-text {
        overflow: hidden;
        b {
            font-size: 12px;
            color: $brown-text;
            overflow: hidden;
            font-family: rounded-bold;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        p {
            font-size: 13px;
            overflow: hidden;
            font-family: rounded-light;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    .star {
        img {
            width: 100%;
        }
        label {
            width: 8px;
            height: 8px;
        }
    }
}

.reviews-wrapper {
    max-height: 180px;
    overflow-y: auto;
    margin-top: 18px;
    &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 1px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 2px;
        height: 50px;
        background-color: rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    }
}

.vue-logo {
    color: red;
}

.reviews-content {
    padding: 44px 75px;
    .prev-link {
        position: static;
    }
    .write-review {
        margin-top: 40px;
        h3 {
            font-size: 27px;
            line-height: 33px;
            letter-spacing: 0.035em;
            color: #5D2524;
            font-family: rounded-bold;
        }
        .choose-star {
            display: flex;
            align-items: center;
            margin: 23px 0;
            p {
                margin-bottom: 0;
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 0.035em;
                font-family: rounded-light;
                margin-left: 16px;
            }
            .star {
                .star-item {
                    font-size: 22px;
                    line-height: 22px;
                }
            }
        }
        form {
            input,
            textarea {
                background: #FFFAEE;
                border-radius: 8px;
                width: 100%;
                border: none;
                padding: 12px 17px;
            }
            input {
                margin-top: 30px;
            }
        }
        button {
            width: 100%;
        }
    }
}

.review-modal {
    background: #FFFFFF;
    box-shadow: 0px 3px 20px -7px rgba(132, 92, 14, 0.3);
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    .review-modal-img {
        height: 100%;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.reviews {
    .vue-stars label {
        font-size: 12px;
    }
}

textarea {
    resize: none;
}