.mobile-order {
    display: none;
}

@media (min-width: 1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1235px;
    }
}

@media only screen and (max-width: 340px) {
    .nav-mobile {
        .nav-links {
            li {
                margin-bottom: 10px;
            }
        }
    }
    .slider-text {
        h2 {
            font-size: 28px;
        }
    }
    .cake-reg {
        .cake-reg-content {
            padding: 30px 15px !important;
            .category-title a {
                margin: 0 5px !important;
                font-size: 12px !important;
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    .container {
        padding: 0 15px;
    }
    .pl-2,
    .px-2 {
        padding-left: 15px !important;
    }
    .title-product {
        h1 {
            font-size: 30px;
        }
    }
    .header {
        height: 67px;
        position: sticky;
        top: 0;
        z-index: 99;
        background-size: cover;
        .row {
            margin: 0;
        }
        &::after {
            background-size: auto;
            top: 67px;
            z-index: -1;
        }
    }
    .bottom-nav {
        overflow: hidden;
        padding: 28px 0 17px;
        .bottom-nav-content {
            overflow-x: scroll;
            overflow-y: hidden;
        }
        ul {
            li {
                margin-right: 30px;
                a {
                    font-size: 14px;
                }
                &::after {
                    right: -15px;
                }
            }
        }
        .call {
            a {
                font-size: 14px;
                width: max-content;
            }
        }
    }
    .ordering {
        margin: 0;
    }
    .order-sm-1 {
        order: 1;
    }
    .order-sm-2 {
        order: 2;
    }
    .order-sm-3 {
        order: 3;
    }
    .order-sm-4 {
        order: 4;
    }
    .padding-block {
        padding: 30px 20px !important;
    }
    .pickup-info {
        flex-direction: column;
        align-items: baseline !important;
        button {
            margin-top: 10px;
        }
    }
    .title-basket {
        padding: 0 25px;
        h1 {
            font-size: 27px !important;
        }
        .add-product {
            padding: 7px !important;
            width: fit-content !important;
        }
        p {
            font-size: 11px !important;
        }
    }
    .title {
        font-size: 25px;
        padding-right: 10px;
    }
    .products-main {
        padding: 20px 0 !important;
        .product-count {
            padding: 0 20px !important;
        }
        .product {
            position: relative;
            display: block !important;
            padding: 25px 20px !important;
            .product-img-deskr {
                max-width: 100% !important;
                align-items: end !important;
                .product-img {
                    min-width: 90px;
                    max-width: 90px;
                }
                .product-text {
                    flex-direction: column;
                    .product-deskr {
                        max-width: inherit !important;
                    }
                }
            }
            .product-count-price {
                width: 100% !important;
                margin-top: 25px;
            }
            .delete-product {
                position: absolute;
                top: 25px;
                right: 20px;
            }
        }
    }
    .pickup-shops {
        ul {
            flex-direction: column;
            padding: 0 15px !important;
        }
    }
    .contact-info {
        form {
            button {
                width: 100%;
                margin-top: 25px;
            }
        }
    }
    .last-delivery {
        .payment {
            .payment-main {
                flex-direction: column;
                align-items: baseline !important;
                .payment-content {
                    margin-bottom: 25px;
                }
            }
        }
    }
    footer {
        background-size: cover;
        background-position-x: center;
        background-image: url(./assets/images/footer-mobile-bg.svg);
        .container {
            padding: 0 15px !important;
        }
        .footer-last {
            padding-left: 15px;
            ul {
                padding-left: 0;
                button {
                    width: 100%;
                }
            }
        }
        .footer-end {
            ul {
                justify-content: unset !important;
                flex-wrap: wrap;
                margin-top: 34px;
                li {
                    margin-right: 15px;
                    a {
                        font-size: 13px;
                    }
                }
            }
        }
    }
    .go-up {
        top: -10px;
    }
    .icon-social {
        flex-wrap: wrap;
    }
    .icon {
        a {
            width: 30px;
            height: 30px;
            font-size: 15px;
        }
    }
    .burger {
        display: flex;
    }
    .nav {
        display: none;
    }
    .minus-m {
        display: none;
    }
    .header-mobile {
        display: flex;
        justify-content: space-between;
        height: 75px;
        align-items: center;
        .logo {
            img {
                position: static;
                width: 100%;
            }
        }
        .logo {
            max-width: 180px;
            top: 10px;
        }
    }
    .mobile-cart {
        display: block;
    }
    .main-category {
        flex-wrap: wrap;
        height: auto !important;
        padding: 20px 0 !important;
        .category {
            width: 50%;
            margin: 20px 0;
            p {
                font-size: 15px !important;
            }
        }
    }
    .main-slider {
        .main-slider-item {
            height: 470px;
            img {
                height: 470px;
            }
            .slider-text {
                max-width: 13%;
                h2 {
                    font-size: 28px;
                }
                .slider-deskr {
                    p {
                        font-size: 17px;
                    }
                    img {
                        max-width: 50px;
                        max-height: 50px;
                        object-fit: contain;
                    }
                }
                button {
                    padding: 10px 20px;
                }
            }
        }
        .slick-dots {
            bottom: 16% !important;
            li {
                width: 10px;
                height: 10px;
                margin: 0 5px;
                button {
                    &::before {
                        font-size: 10px !important;
                    }
                }
            }
        }
    }
    .modal-product {
        max-width: 90%;
    }
    .modal-top {
        flex-direction: column;
        flex-flow: column-reverse;
        button {
            width: fit-content;
            margin-bottom: 15px;
        }
    }
    .popup-wrapper {
        .modal-left {
            padding: 22px 5px 17px;
        }
        .modal-right {
            padding: 25px;
            .button-modal {
                margin-top: 20px;
                display: block;
                button {
                    width: 100%;
                    margin: 0 0 10px;
                }
            }
        }
    }
    .modal-bottom {
        display: none;
    }
    .modal-bottom-mobile {
        display: block;
        padding: 25px;
        .blue-text {
            font-size: 18px;
        }
    }
    .reviews-header {
        .reviews-top {
            flex-direction: column;
            button {
                margin-top: 13px;
            }
        }
    }
    .reviews-content {
        padding: 25px !important;
    }
    .review-modal-img {
        display: none;
    }
    .title-reg {
        h2 {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            &::before {
                content: '';
                position: absolute;
                width: 70%;
                height: 8px;
                background: #FCF18C;
                border-radius: 8px;
                bottom: auto !important;
                z-index: -1;
                top: 28px;
            }
            &::after {
                content: '';
                position: absolute;
                width: 40%;
                background: #FCF18C;
                height: 8px;
                border-radius: 8px;
                bottom: 0;
                z-index: -1;
            }
        }
    }
    .order-reg {
        display: block;
        .order-reg-text {
            width: auto;
        }
    }
    .inscription {
        .input-reg {
            flex-direction: column;
            align-items: flex-end;
            input {
                margin: 10px 0 0;
            }
            button {
                margin-top: 10px;
                display: block;
                position: static;
            }
        }
    }
    .cake-reg {
        .cake-category {
            padding: 0px 25px 25px;
            .withRegistration {
                .input-reg {
                    flex-direction: column;
                    align-items: flex-end;
                    input {
                        margin: 10px 0 0;
                    }
                    button {
                        margin-top: 10px;
                        display: block;
                        position: static;
                    }
                }
            }
        }
        .cake-reg-header {
            padding: 75px 25px 25px;
        }
        .cake-reg-content {
            padding: 30px 25px 0;
            .category-title {
                a {
                    margin: 0 9px;
                    font-size: 14px;
                }
            }
        }
    }
    .prev-link {
        top: -50px;
    }
    .order-modal-bottom {
        .hard-bottom {
            flex-direction: column;
            .order-sm-1 {
                display: block;
                margin-bottom: 35px;
                button {
                    width: 100%;
                }
            }
        }
    }
    .hard {
        .hard-content {
            .title-reg {
                flex-direction: column;
                align-items: baseline;
            }
            .hard-text {
                flex-direction: column;
                align-items: baseline;
                button {
                    width: auto;
                }
            }
        }
        .hard-bottom {
            display: block;
            margin-top: 20px;
            button {
                width: 100%;
            }
        }
    }
    .product-right {
        display: none;
    }
    .product-right.cart-mobile {
        display: block !important;
        top: 0;
        overflow-y: scroll;
    }
    .mobile-fixed-cart {
        display: flex;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .header {
        .logo {
            img {
                width: 100%;
            }
        }
        .nav {
            .nav-links {
                margin-left: 0;
                li {
                    margin-right: 25px;
                    a {
                        font-size: 14px;
                    }
                }
            }
            .vs__selected {
                font-size: 14px;
                margin-bottom: 0;
            }
        }
        .bonus-user {
            padding: 5px 10px;
            font-size: 14px;
            min-height: 25px;
            height: auto;
            svg {
                width: 15px;
            }
            b {
                font-size: 14px;
            }
        }
        .cart-head {
            width: 40px;
            height: 40px;
            img {
                width: 20px;
            }
        }
        &::after {
            top: 74px;
        }
    }
    .bottom-nav {
        ul {
            li {
                margin-right: 35px;
                &::after {
                    right: -15px;
                }
                a {
                    font-size: 14px;
                }
            }
        }
    }
    .slider-product {
        .slick-prev {
            left: -25px !important;
        }
        .slick-next {
            right: -25px !important;
        }
    }
}