.vue-notification {
    padding: 10px;
    margin: 0 !important;
    font-size: 12px;
    color: #ffffff;
    background: transparent;
    border-left: none !important;
}

.notification-content {
    text-align: center;
    font-family: rounded-light;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notification-success {
    .vue-notification {
        background-color: #5BBD76;
    }
    .notification-content {
        position: relative;
        &::before {
            content: url(./assets/icons/info-not.svg);
            margin-right: 15px;
            margin-top: 5px;
        }
        &::after {
            content: url(./assets/icons/close-not.svg);
            margin-top: 5px;
            position: absolute;
            right: 20px;
            cursor: pointer;
        }
    }
}

.notification-warn {
    .vue-notification {
        background-color: #FF2E47;
    }
    .notification-content {
        &::before {
            content: url(./assets/icons/info-not.svg);
            margin-right: 15px;
            margin-top: 5px;
        }
        &::after {
            content: url(./assets/icons/close-red.svg);
            margin-top: 5px;
            position: absolute;
            right: 20px;
            cursor: pointer;
        }
    }
}