@font-face {
    font-family: rounded-regular;
    src: url("./assets/fonts/Monotype  - VAG Rounded Next Regular.otf");
}

@font-face {
    font-family: rounded-bold;
    src: url("./assets/fonts/Monotype  - VAG Rounded Next Bold.otf");
}

@font-face {
    font-family: appetite-medium;
    src: url("./assets/fonts/AppetiteProMedium.otf");
}

@font-face {
    font-family: appetite-rounded;
    src: url("./assets/fonts/Appetite_Rounded.otf");
}

@font-face {
    font-family: rounded-medium;
    src: url("./assets/fonts/Monotype  - VAG Rounded Next Medium.otf");
}

@font-face {
    font-family: rounded-light;
    src: url("./assets/fonts/Monotype  - VAG Rounded Next Light.otf");
}

$brown: #5D2524;
$brown-text: #5D2524;
$brown-bg: #5D2524;
$blue-bg: #4ABBC1;
$blue-text: #4ABBC1;
$yellow-bg: #FFF2D3;
$silver-text: #C2B1A8;
p {
    font-family: rounded-medium;
    color: #5D2524;
}

a {
    font-family: rounded-medium;
}

b {
    font-family: rounded-bold;
}

.small-text {
    font-size: 13px !important;
}

.title-page {
    font-family: appetite-medium;
    color: #5D2524;
}

.light-brown {
    color: #C2B1A8;
}

.title-category {
    font-size: 30px;
    p,
    h1 {
        font-family: appetite-medium;
    }
    h1 {
        font-size: 41px;
        line-height: 48px;
        letter-spacing: -0.017em;
    }
}

.title-reg {
    h2 {
        font-family: appetite-medium;
        color: $brown-text;
        font-size: 30.8px;
        line-height: 36px;
        letter-spacing: -0.017em;
        position: relative;
        z-index: 1;
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 8px;
            background: #FCF18C;
            border-radius: 8px;
            bottom: 0;
            z-index: -1;
        }
    }
}

.title-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
        color: $brown-text;
    }
}

.title {
    font-size: 25px;
    color: #5D2524;
    p {
        font-family: rounded-bold;
        letter-spacing: 0.04em;
    }
    h1 {
        font-family: appetite-medium;
    }
    h2 {
        font-family: rounded-bold;
    }
}

.silver-text {
    color: #C2B1A8;
}

.blue-bg {
    background-color: #4ABBC1;
}

.red-text {
    color: #FF2E47;
    font-family: rounded-bold;
}

.blue-text {
    color: #4ABBC1 !important;
}

.green-text {
    color: #5BBD76 !important;
}

.total-sum {
    b {
        font-size: 18px !important;
        letter-spacing: 0.03em;
    }
    span {
        font-size: 15px;
        letter-spacing: 0.03em;
    }
}

.small {
    span {
        font-size: 12px !important;
        text-decoration: line-through;
        line-height: 17px;
    }
}