<template>
<div>
 <div class="order order-desktop">
  <div class="order-header">
   <h3>
    <img src="@/assets/icons/cart.svg" alt />Корзина
    <span class="basket-count">{{ cart.length }}</span>
   </h3>
   <span class="basket-delete" @click="clearBasket">
    <img src="@/assets/icons/basket.svg" alt />
   </span>
  </div>
  <div v-if="this.cart.length > 0">
   <cart-product v-for="(item, index) in cart" :key="index" :data="item" :index="index"></cart-product>
  </div>
  <div v-else class="cart-empty-head">
   <img src="@/assets/icons/basket-header.svg" alt />
   <h5>Корзина пуста</h5>
   <p>Выберите продукт из меню</p>
  </div>
  <div class="basket-last" v-if="this.cart.length > 0">
   <router-link to="/OrderBasket">
    <img src="@/assets/icons/delivery.svg" alt />Статус доставки
   </router-link>

   <div class="total-price">
    <p>Сумма заказа</p>
    <b class>{{totalCount.toLocaleString()}} ₸</b>
   </div>
   <router-link type="button" class="brown-btn" to="/orderBasket">Оформить заказ</router-link>
   <span class="be-bonus">
    <p>
     <span class="silver-text">Начислится</span>
     <b>710</b> бонусов
    </p>
   </span>
  </div>
 </div>
</div>
</template>

<script>
import CartProduct from "./CartProduct";
export default {
 components: {
  CartProduct,

 },
 props: {
  item: Object
 },
 data() {
  return {
   basketContent: {},
   totalSum: 0,
   popupCart: false
  };
 },
 computed: {
  cart() {
   return this.$store.getters.getCart();
  },
  totalCount() {
   let counter = 0;
   for (let index = 0; index < this.cart.length; index++) {
    counter = counter + this.cart[index].price * this.cart[index].count;
   }
   return counter;
  }
 },
 methods: {
  clearBasket() {
   this.$store.dispatch("REMOVE_ALL_CART");
   console.log("REMOVE_ALL_CART");
  },
 }
};
</script>
