<template>
  <div>
    <div class="basket">
      <span class="delete-basket" @click="removeFromCart(index)">
        <img src="@/assets/icons/exit-basket.svg" alt />
      </span>
      <div class="basket-top">
        <div class="basket-img">
          <div class="product-features">
            <span
              v-if="data.hit || data.new || data.clock || data.clean || data.noMargarin"
            >
              <img :src="data.hit || data.new || data.clock || data.clean || data.noMargarin" alt />
              <div class="tooltip-product" v-if="data.tooltipHit ||  data.tooltipGreen || data.tooltipYellow || data.tooltipNew">
                <p>{{ data.tooltipHit || data.tooltipNew || data.tooltipGreen || data.tooltipYellow || data.tooltipClock}}</p>
              </div>
            </span>
          </div>
          <img :src="data.img" alt />
        </div>
        <div class="basket-deskr">
          <b>{{data.title}}</b>
          <p class="silver-text">{{ data.description }}</p>
        </div>
      </div>
      <div class="product-count">
        <div class="count">
          <span @click="minusBasket(data)">
            <i class="fas fa-minus"></i>
          </span>
          <p>{{data.count}}</p>
          <span @click="plusBasket(index, data.price)">
            <i class="fas fa-plus"></i>
          </span>
        </div>
        <div class="total-count">
          <h3>{{data.price * data.count}} ₸</h3>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["data", "index"],
  methods: {
    removeFromCart(index) {
      this.$store.dispatch("REMOVE_FROM_CART", index);
    },
    plusBasket(index) {
      this.$store.dispatch("PLUS_COUNT", index);
    }
  }
};
</script>
