<template>
  <div class="row">
    <div class="col-xl-4">
      <label for>Улица *</label>
      <div class="input-num">
        <input type="text" placeholder="Гоголя" class="input-text" />
      </div>
    </div>
    <div class="col-xl-4">
      <label for>Дом *</label>
      <div class="input-num">
        <input type="text" class="input-text" />
      </div>
    </div>
    <div class="col-xl-4">
      <label for>Квартира / Офис *</label>
      <div class="input-num">
        <input type="text" class="input-text" />
      </div>
    </div>
    <div class="col-xl-12">
      <div class="map">
        <div class="dropdown-btn" @click="delivery.map = !delivery.map">
          <img src="@/assets/images/target.png" alt />
          <p>Уточнить на карте</p>
          <i class="fas fa-chevron-down" :class="{'active-dropdown': delivery.map }"></i>
        </div>
        <div class="map-content" v-if="delivery.map">
         <div style="position:relative;overflow:hidden;"><a href="https://yandex.kz/maps/163/nur-sultan/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Нур‑Султан (Астана)</a><a href="https://yandex.kz/maps/163/nur-sultan/?ll=71.477541%2C51.148878&mode=usermaps&source=constructorLink&um=constructor%3A8542334b627ed587d312d7807ae2f151f95192bd8c8627f627e795371720ec75&utm_medium=mapframe&utm_source=maps&z=13" style="color:#eee;font-size:12px;position:absolute;top:14px;">Карта Нур-Султана (Астаны) с улицами и номерами домов онлайн — Яндекс.Карты</a><iframe src="https://yandex.kz/map-widget/v1/-/CCQxUGgVkB" width="100%" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
        </div>
      </div>
    </div>
    <div class="dropdown-btn col-xl-12" @click="delivery.house = !delivery.house">
      <img src="@/assets/images/target.png" alt />
      <p>Указать домофон и подьъезд</p>
      <i class="fas fa-chevron-down" :class="{'active-dropdown': delivery.house }"></i>
    </div>
    <div class="col-xl-12" v-if="delivery.house">
      <div class="row">
        <div class="col-xl-4">
          <label for>Домофон</label>
          <div class="input-num">
            <input type="text" class="input-text" placeholder="58" />
          </div>
        </div>
        <div class="col-xl-4">
          <label for>Подъезд</label>
          <div class="input-num">
            <input type="text" class="input-text" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    show: false,
    rotate: 180,
    delivery:{
      map: false,
      house: false
    }
  })
};
</script>