<template>
<div>
    <notifications group="success" position="top left" width="100%" class="notification-success" />
    <notifications group="warn" position="top left" width="100%" class="notification-warn" />
</div>
</template>

<script>
export default {
    mounted() {
        this.$notify({
            group: "success",
            text: "Вы успешно сделали заказ, пожалуйста ожидайте звонок",
            clean: true
        });
        this.$notify({
            group: "warn",
            text: "На данный момент продукт отсутствует",
            clean: true
        });
    }
};
</script>
