<template>
<div class="col-xl-4 col-md-6">
 <div class="product">
  <div class="product-features">
   <span v-if="product.hit" @mouseenter="tooltipHit=!false" @mouseleave="tooltipHit = false">
    <img :src="product.hit" alt />
    <div class="tooltip-product" v-if="tooltipHit">
     <p>{{ product.tooltipHit }}</p>
    </div>
   </span>
   <span v-if="product.new" @mouseenter="tooltipNew=!false" @mouseleave="tooltipNew = false">
    <img :src="product.new" alt />
    <div class="tooltip-product" v-if="tooltipNew">
     <p>{{ product.tooltipNew }}</p>
    </div>
   </span>
   <span v-if="product.clock" @mouseenter="tooltipClock=!false" @mouseleave="tooltipClock = false">
    <img :src="product.clock" alt />
    <div class="tooltip-product" v-if="tooltipClock">
     <p>{{ product.tooltipClock }}</p>
    </div>
   </span>
   <span v-if="product.clean" @mouseenter="showclean=!false" @mouseleave="showclean = false">
    <img :src="product.clean" alt />
    <div class="tooltip-product" v-if="showclean">
     <p>{{ product.tooltipGreen }}</p>
    </div>
   </span>
   <span v-if="product.noMargarin" @mouseenter="shownoMargarin=!false" @mouseleave="shownoMargarin = false">
    <img :src="product.noMargarin" alt />
    <div class="tooltip-product" v-if="shownoMargarin">
     <p>{{ product.tooltipYellow }}</p>
    </div>
   </span>
  </div>
  <div @click="showModal(product)" class="show-modal">
   <div class="products-img">
    <img :src="product.img" alt />
   </div>
   <div class="title">
    <p>{{product.title}}</p>
    <img src="@/assets/icons/info.svg" alt />
   </div>
  </div>
  <div class="product-count">
   <div class="product-price">
    <p>{{ totalPrice.toLocaleString() }}₸</p>
   </div>
   <button class="btn-outline" @click="addBasket">В корзину</button>
  </div>
 </div>
</div>
</template>

<script>
import {
 required,
 maxLength,
 userName,
 password
} from "vuelidate/lib/validators";
import "vueperslides/dist/vueperslides.css";
export default {
 props: {
  product: Object
 },
 data: () => ({
  cardActive: false,
  name: null,
  review: null,
  testName: "",
  valid: false,
  reviewSuccess: false,
  reviewsContent: [],
  reviewModal: false,
  showclean: false,
  shownoMargarin: false,
  popup: false,
  cakeModal: false,
  tooltipHit: false,
  tooltipClock: false,
  tooltipNew: false,
  category: {
   inscription: false,
   withRegistration: true,
   hard: false
  },
  sliderFor: {
   arrows: true,
   dots: true
  },
  modaSlider: [{
    img: require("@/assets/product-img/product-slider1.png")
   },
   {
    img: require("@/assets/product-img/product4.png")
   },
   {
    img: require("@/assets/product-img/product5.png")
   },
   {
    img: require("@/assets/product-img/product5.png")
   }
  ]
 }),
 validations: {
  name: {
   required
  },
  review: {
   required
  },
  testName: {
   required,
   maxLength: maxLength(15)
  }
 },
 computed: {
  totalPrice() {
   return this.product.count * this.product.price;
  },
  modal_product() {
   return this.$store.getters.getModalProduct();
  }
 },
 methods: {
  addBasket() {
   this.$emit("addBasket");
   this.popup = false;
  },
  exitPopup() {
   this.popup = false;
  },
  counterPlus() {
   this.product.count++;
  },
  counterMinus() {
   if (this.product.count != 1) {
    this.product.count--;
   }
  },
  showModal(product) {
   this.$store.dispatch("SET_MODAL_PRODUCT", product);
   this.$store.dispatch("SHOW_MODAL", "productModal");
  },
  checkTest() {
   if (this.testName.length < 15) {
    console.log("this < 15");
    console.log(this.testName.length);
    this.showclean = true;
   } else {
    console.log("this > 15");
   }
   if (this.$v.$invalid) {
    this.$v.$touch();
    return;
   }
  },
  changeText() {
   this.showclean = false;
   this.testName = "";
  }
 },
 updated() {
  console.log(this.testName.length);
  if (this.testName.length < 15) {}
 }
};
</script>
