<template>
<div class="popup-wrapper" ref="popup_wrapper">
 <div class="modal-product">
  <span class="exit" @click="exitPopup">
   <i class="fas fa-times"></i>
  </span>
  <transition v-if="modalName == 'productModal'" name="fade" v-show="modal">
   <div class="row m-0" @exitPopup="exitPopup">
    <div class="col-xl-7">
     <div class="modal-left">
      <div class="modal-top">
       <div class="modal-top-right">
        <span v-if="modal_product.hit" @mouseenter="tooltipHit=!false" @mouseleave="tooltipHit = false">
         <img :src="modal_product.hit" alt />
         <div class="tooltip-product" v-if="tooltipHit">
          <p>{{ modal_product.tooltipHit }}</p>
         </div>
        </span>
        <span v-if="modal_product.new" @mouseenter="tooltipNew=!false" @mouseleave="tooltipNew = false">
         <img :src="modal_product.new" alt />
         <div class="tooltip-product" v-if="tooltipNew">
          <p>{{ modal_product.tooltipNew }}</p>
         </div>
        </span>
        <span v-if="modal_product.clock" @mouseenter="tooltipClock=!false" @mouseleave="tooltipClock = false">
         <img :src="modal_product.clock" alt />
         <div class="tooltip-product" v-if="tooltipClock">
          <p>{{ modal_product.tooltipClock }}</p>
         </div>
        </span>
        <span v-if="modal_product.clean" @mouseenter="showclean=!false" @mouseleave="showclean = false">
         <img :src="modal_product.clean" alt />
         <div class="tooltip-product" v-if="showclean">
          <p>{{ modal_product.tooltipGreen }}</p>
         </div>
        </span>
        <span v-if="modal_product.noMargarin" @mouseenter="shownoMargarin=!false" @mouseleave="shownoMargarin = false">
         <img :src="modal_product.noMargarin" alt />
         <div class="tooltip-product" v-if="shownoMargarin">
          <p>{{ modal_product.tooltipYellow }}</p>
         </div>
        </span>
       </div>
       <button class="btn btn-outline-blue" @click="cakeModal = !cakeModal">
        <img src="@/assets/icons/oformi.svg" alt />
        Создать оформление для торта
       </button>
      </div>
      <div class="modal-img">
       <vueper-slides ref="vueperslides1" @slide="
                        $refs.vueperslides2 &&
                          $refs.vueperslides2.goToSlide($event.currentSlide.index, {
                            emit: false,
                          })
                        " :slide-ratio="1 / 4" :bullets="false" :arrows="false" class="slider-for">
        <vueper-slide v-for="(slide, i) in modaSlider" :key="i" :title="slide.title" :image="slide.img" :autoplay="true" />
       </vueper-slides>

       <vueper-slides ref="vueperslides2" :slide-ratio="0 / 8" :dragging-distance="50" @slide="
                  $refs.vueperslides1 &&
                    $refs.vueperslides1.goToSlide($event.currentSlide.index, {
                      emit: false,
                    })
                " :visible-slides="3" fixed-height="100px" :bullets="false" class="slider-nav">
        <vueper-slide v-for="(slide, i) in modaSlider" :key="i" :title="slide.title" :image="slide.img" @click.native="
                  $refs.vueperslides2 && $refs.vueperslides2.goToSlide(i - 0)
                "></vueper-slide>
       </vueper-slides>
      </div>
      <div class="modal-bottom">
       <b class="blue-text">Пищевая ценность на 100 г</b>

       <ul>
        <li>
         <span>Энерг. ценность</span>
         <span>{{modal_product.energyValue}}</span>
        </li>
        <li>
         <span>Белки</span>
         <span>{{modal_product.Protein}}</span>
        </li>
        <li>
         <span>Жиры</span>
         <span>{{modal_product.Fats}}</span>
        </li>
        <li>
         <span>Углеводы</span>
         <span>{{modal_product.Carbohydrates}}</span>
        </li>
        <li>
         <span>Вес</span>
         <span>{{modal_product.Weight}}</span>
        </li>
        <li>
         <span>Диаметр</span>
         <span>{{modal_product.Diameter}}</span>
        </li>
        <li>
         <span>Высота</span>
         <span>{{modal_product.Height}}</span>
        </li>
        <li>
         <span>Срок хранения</span>
         <span>{{modal_product.StoragePeriod}}</span>
        </li>
        <li>
         <span>Условия хранения</span>
         <span>{{modal_product.StorageConditions}}</span>
        </li>
       </ul>
      </div>
     </div>
    </div>
    <div class="col-xl-5 p-0">
     <div class="modal-right">
      <div class="title">
       <h2>{{ modal_product.title }}</h2>
      </div>
      <div class="modal-deskr">
       <p>{{ modal_product.description }}</p>
      </div>
      <div class="composition">
       <b>Состав:</b>
       <div class="composition-content">
        <p>{{ modal_product.Composition }}</p>
       </div>
      </div>
      <div class="product-count">
       <div class="count">
        <span @click="counterMinus">
         <i class="fas fa-minus"></i>
        </span>
        <p>{{ modal_product.count }}</p>
        <span @click="counterPlus">
         <i class="fas fa-plus"></i>
        </span>
       </div>
       <div class="total-count">
        <p class="small-text">Стоимость:</p>
        <h3>{{ totalPrice.toLocaleString() }}₸</h3>
       </div>
      </div>
      <div class="button-modal">
       <button class="btn btn-outline">Купить сразу</button>
       <button class="btn brown-btn addBasket" @click="addToCart">Добавить в корзину</button>
      </div>
      <div class="reviews-header">
       <div class="reviews-top">
        <p>
         Отзывы
         <span>{{reviewsContent.length}}</span>
        </p>
        <button class="btn blue-bg" @click="reviewModal = true">Написать</button>
       </div>
       <vue-stars name="slotDemo" active-color="#dd3d00" inactive-color="#F3E2C8" :max="5" :value="3" :readonly="true"></vue-stars>
      </div>
      <div class="reviews-wrapper">
       <div v-if="reviewsContent.length" class="reviews" v-for="item in reviewsContent" :key="item.name">
        <div class="reviews-text">
         <b>{{ item.name }}</b>
         <p>{{ item.review }}</p>
        </div>
        <vue-stars name="slotDemo" :max="5" :value="item.rating" active-color="#dd3d00" inactive-color="#F3E2C8"></vue-stars>
       </div>
      </div>
     </div>
    </div>
    <div class="modal-bottom modal-bottom-mobile">
     <b class="blue-text">Пищевая ценность на 100 г</b>

     <ul>
      <li>
       <span>Энерг. ценность</span>
       <span>{{modal_product.energyValue}}</span>
      </li>
      <li>
       <span>Белки</span>
       <span>{{modal_product.Protein}}</span>
      </li>
      <li>
       <span>Жиры</span>
       <span>{{modal_product.Fats}}</span>
      </li>
      <li>
       <span>Углеводы</span>
       <span>{{modal_product.Carbohydrates}}</span>
      </li>
      <li>
       <span>Вес</span>
       <span>{{modal_product.Weight}}</span>
      </li>
      <li>
       <span>Диаметр</span>
       <span>{{modal_product.Diameter}}</span>
      </li>
      <li>
       <span>Высота</span>
       <span>{{modal_product.Height}}</span>
      </li>
      <li>
       <span>Срок хранения</span>
       <span>{{modal_product.StoragePeriod}}</span>
      </li>
      <li>
       <span>Условия хранения</span>
       <span>{{modal_product.StorageConditions}}</span>
      </li>
     </ul>
    </div>
   </div>
  </transition>
  <transition name="fade">
   <div class="cake-reg" v-if="cakeModal">
    <div class="cake-reg-header">
     <div class="title-reg">
      <div class="prev-link">
       <img src="@/assets/icons/prev-product.svg" alt />
       <a href="#" @click.prevent="cakeModal = !cakeModal">Назад</a>
      </div>
      <h2>Оформление торта</h2>
     </div>
     <div class="order-reg">
      <div class="order-reg-text">
       <div class="order-red-img">
        <img src="@/assets/product-img/product-slider1.png" alt />
       </div>
       <div>
        <b>Молочная девочка</b>
        <p>Ароматные, тонкие коржи на основе натурально... Ароматные, тонкие коржи на основе натурально...</p>
       </div>
      </div>
      <div class="order-reg-price">
       <b>{{modal_product.price}} ₸</b>
      </div>
     </div>
    </div>
    <div class="cake-reg-content">
     <div class="category-title">
      <a href="#" @click.prevent="categoryBtn('inscription')" :class="{activeCategory: category.inscription}">Надпись</a>
      <a href="#" @click.prevent="categoryBtn('withRegistration')" :class="{activeCategory: category.withRegistration}">С оформлением</a>
      <a href="#" @click.prevent="categoryBtn('hard')" :class="{activeCategory: category.hard}">Сложные</a>
     </div>
     <div class="category-title catefory-title-bottom" v-if="category.withRegistration">
      <a href="#">С фруктами</a>
      <a href="#" class="activeCategory">Мастикой</a>
      <a href="#">С фото</a>
     </div>
    </div>
    <div class="cake-category">
     <div class="withRegistration" v-show="category.withRegistration">
      <div class="row">
       <div class="col-xl-4">
        <div class="card-cake" @click="cardActive = !cardActive" :class="{cardActive}">
         <div class="card-cake-img">
          <img src="@/assets/product-img/product4.png" alt />
         </div>
         <div class="card-cake-text">
          <b>Шпинатный</b>
          <p>
           Whoopie торт, Whoopie из 2 Whoopie Whoopie пропитанный кофейно-молочным сиропом, между слоями
           бисквита равномерно нанесен крем из творожного сыра.
          </p>
          <div class="cake-price">
           <p>от 700 ₸</p>
          </div>
         </div>
        </div>
       </div>
       <div class="col-xl-4">
        <div class="card-cake">
         <div class="card-cake-img">
          <img src="@/assets/product-img/product4.png" alt />
         </div>
         <div class="card-cake-text">
          <b>Шпинатный</b>
          <p>
           Whoopie торт, Whoopie из 2 Whoopie Whoopie пропитанный кофейно-молочным сиропом, между слоями
           бисквита равномерно нанесен крем из творожного сыра.
          </p>
          <div class="cake-price">
           <p>от 700 ₸</p>
          </div>
         </div>
        </div>
       </div>
       <div class="col-xl-4">
        <div class="card-cake">
         <div class="card-cake-img">
          <img src="@/assets/product-img/product5.png" alt />
         </div>
         <div class="card-cake-text">
          <b>Шпинатный</b>
          <p>
           Whoopie торт, Whoopie из 2 Whoopie Whoopie пропитанный кофейно-молочным сиропом, между слоями
           бисквита равномерно нанесен крем из творожного сыра.
          </p>
          <div class="cake-price">
           <p>от 700 ₸</p>
          </div>
         </div>
        </div>
       </div>
       <div class="col-xl-4">
        <div class="card-cake">
         <div class="card-cake-img">
          <img src="@/assets/product-img/product6.png" alt />
         </div>
         <div class="card-cake-text">
          <b>Шпинатный</b>
          <p>
           Whoopie торт, Whoopie из 2 Whoopie Whoopie пропитанный кофейно-молочным сиропом, между слоями
           бисквита равномерно нанесен крем из творожного сыра.
          </p>
          <div class="cake-price">
           <p>от 700 ₸</p>
          </div>
         </div>
        </div>
       </div>
      </div>
      <form action>
       <div class="inscription-error">
        <label for>Надпись на торте (максимум 15 букв)</label>
        <span v-if="$v.testName.$dirty && !$v.testName.maxLength" class="error-text invalid">
         Максимум 15
         букв
        </span>
        <div>
         <span class="valid" v-if="$v.testName.$dirty && $v.testName.required">Текст проверен!</span>
         <a href="#" @click.prevent="changeText" class="change-text" v-if="$v.testName.$dirty && $v.testName.required">Изменить текст</a>
        </div>
       </div>
       <div class="input-reg">
        <input type="text" placeholder="Введите надпись" v-model.trim="testName" :class="[{invalid: ($v.testName.$dirty && !$v.testName.required) || ($v.testName.$dirty && !$v.testName.maxLength), valid: ($v.testName.$dirty && $v.testName.required) || ($v.testName.$dirty && $v.testName.maxLength)},]" />
        <button type="submit" class="brown-btn" @click.prevent="checkTest()" :class="{showclean}">
         <i class="fas fa-check"></i>Проверить текст
        </button>
       </div>
       <label for>
        <span class="red-text">Внимание!</span> Учтите раскладку клавиатуры. Как вы написали, так и будет
        изготовлено.
       </label>
      </form>
     </div>
     <div class="inscription" v-show="category.inscription">
      <form action>
       <div class="inscription-error">
        <label for>Надпись на торте (максимум 15 букв)</label>
        <span v-if="$v.testName.$dirty && !$v.testName.maxLength" class="error-text invalid">
         Максимум 15
         букв
        </span>
       </div>
       <div class="input-reg">
        <input type="text" name id placeholder="Введите надпись" v-model.trim="testName" :class="{invalid: ($v.testName.$dirty && !$v.testName.required) || ($v.testName.$dirty && !$v.testName.maxLength)}" />
        <button type="submit" class="brown-btn" @click.prevent="checkTest">
         <i class="fas fa-check"></i>Проверить текст
        </button>
       </div>
       <label for>
        <span class="red-text">Внимание!</span> Учтите раскладку клавиатуры. Как вы написали, так и будет
        изготовлено.
       </label>
      </form>
     </div>
     <div class="order-modal-bottom" v-if="!category.hard">
      <ul>
       <li>
        <p>Стоимость добавление надписи:</p>
        <span>500 ₸</span>
       </li>
       <li>
        <p>Сумма заказа:</p>
        <span>2500 ₸</span>
       </li>
      </ul>
      <div class="hard-bottom">
       <div class="order-sm-2">
        <img src="@/assets/icons/icon-order.svg" alt />
        <a href="#" class="blue-text" @click.prevent="categoryBtn('hard')">Оформить по-своему</a>
       </div>
       <div class="order-sm-1">
        <button type="button" class="brown-btn">Выбрать оформление</button>
        <button type="button" class="btn-outline" @click.prevent="cakeModal = !cakeModal">Назад</button>
       </div>
      </div>
     </div>
     <div class="hard" v-show="category.hard">
      <div class="hard-content">
       <div class="title-reg">
        <p>
         Если вы желаете оформить торт по вашему, скидывайте фото на
         <b>WhatsApp</b>
        </p>
        <a href="tel:+7 777 111 22 22">
         <img src="@/assets/icons/whatsapp.svg" alt /> +7 777 111 22 22
        </a>
       </div>
       <div class="hard-text">
        <p>
         Для заказа сложные оформления, к примеру 5-и этажные торты
         вам необходимо приехать к нам в офис по адресу:
         <b>г. Алматы, Кордай, 12</b>
        </p>
        <button class="btn-outline" type="button">
         <i class="fas fa-map-marker-alt"></i> Показать на карте
        </button>
       </div>
       <p>
        Позвоните нам для уточнения заказа:
        <b>+7 777 111 22 22</b>
       </p>
      </div>
      <div class="hard-bottom">
       <button type="button" class="brown-btn">Выбрать оформление</button>
       <button type="button" class="btn-outline" @click.prevent="cakeModal = !cakeModal">Назад</button>
      </div>
     </div>
    </div>
   </div>
  </transition>

  <transition name="fade">
   <div class="review-modal" v-if="reviewModal">
    <div class="row">
     <div class="col-xl-5 pr-0">
      <div class="review-modal-img">
       <img src="@/assets/images/review-img.png" alt />
      </div>
     </div>
     <div class="col-xl-7">
      <div class="reviews-content">
       <div class="prev-link">
        <img src="@/assets/icons/prev-product.svg" alt />
        <a href="#" @click.prevent="reviewModal = !reviewModal">Назад</a>
       </div>
       <div class="write-review">
        <h3>Написать отзыв</h3>
        <form type="post" @submit.prevent="addReview">
         <input type="text" name="name" placeholder="Ваше имя" v-model.trim="name" :class="{invalid: ($v.name.$dirty && !$v.name.required)}" />
         <span v-if="$v.name.$dirty && !$v.name.required" class="error-text invalid">
          * Вы не написали
          имя
         </span>
         <div class="choose-star">
          <vue-stars active-color="#dd3d00" inactive-color="#F3E2C8" :max="5" :readonly="false" char="★" inactive-char v-model="myRating"></vue-stars>
          <p class="silver-text">Выберите кол-во звёзд</p>
         </div>
         <textarea name="comment" id cols="30" rows="3" placeholder="Ваш отзыв" v-model="review" :class="{invalid: ($v.name.$dirty && !$v.review.required)}"></textarea>
         <span v-if="$v.name.$dirty && !$v.review.required" class="error-text invalid">
          * Вы не написали
          имя
         </span>
         <button type="submit" class="btn brown-btn">Отправить</button>
        </form>
       </div>
      </div>
     </div>
    </div>
   </div>
  </transition>
  <transition name="fade">
   <div class="reviews-success" v-if="reviewSuccess">
    <div class="prev-link">
     <img src="@/assets/icons/prev-product.svg" alt />
     <a href="#" @click.prevent="reviewSuccess = !reviewSuccess">Назад</a>
    </div>
    <div class="reviews-success-text">
     <img src="@/assets/icons/star-thank.svg" alt />
     <b>Спасибо!</b>
     <p>Ваш отзыв вскоре будет опубликован.</p>
    </div>
   </div>
  </transition>
 </div>
</div>
</template>

<script>
import {
 VueperSlides,
 VueperSlide
} from "vueperslides";
import {
 required,
 maxLength,
 userName,
 password
} from "vuelidate/lib/validators";
import "vueperslides/dist/vueperslides.css";
export default {
 props: ["product", "modalName"],
 components: {
  VueperSlides,
  VueperSlide
 },
 validations: {
  name: {
   required
  },
  review: {
   required
  },
  testName: {
   required,
   maxLength: maxLength(15)
  }
 },
 data() {
  return {
   modaSlider: [{
     img: require("@/assets/product-img/product-slider1.png")
    },
    {
     img: require("@/assets/product-img/product4.png")
    },
    {
     img: require("@/assets/product-img/product5.png")
    },
    {
     img: require("@/assets/product-img/product5.png")
    }
   ],
   popup: false,
   cakeModal: false,
   showclean: false,
   shownoMargarin: false,
   cardActive: false,
   myRating: 5,
   tooltipHit: false,
   tooltipClock: false,
   testName: "",
   valid: false,
   tooltipNew: false,
   reviewsContent: [],
   reviewModal: false,
   name: null,
   review: null,
   reviewSuccess: false,
   category: {
    inscription: false,
    withRegistration: true,
    hard: false
   }
  };
 },
 watch: {},
 methods: {
  categoryBtn(item) {
   for (let i in this.category) {
    if (i == item) {
     this.category[i] = true;
    } else {
     this.category[i] = false;
    }
   }
  },
  addReview() {
   if (this.name && this.review) {
    this.reviewsContent.push({
     name: this.name,
     review: this.review,
     rating: this.myRating
    });
    this.name = this.review = null;
    this.reviewSuccess = true;
    this.reviewModal = false;
   }
   if (this.name != "") {
    this.reviewSuccess = true;
    this.reviewModal = false;
   }
  },
  checkTest() {
   if (this.testName.length < 15) {
    this.showclean = true;
   } else {
    this.showclean = false;
   }
   if (this.$v.$invalid) {
    this.$v.$touch();
    return;
   }
  },
  changeText() {
   this.showclean = false;
   this.testName = "";
  },
  exitPopup() {
   this.$store.dispatch("SHOW_MODAL", null);
  },
  counterPlus() {
   this.modal_product.count++;
  },
  counterMinus() {
   if (this.modal_product.count != 1) {
    this.product.count--;
   }
  },
  addToCart() {
   let addPermission = true;
   if (this.cart.length) {
    for (let i = 0; i < this.cart.length; i++) {
     if (this.cart[i].id == this.modal_product.id) {
      addPermission = false;
      this.cart[i].count++;
     }
    }
    if (addPermission) {
     this.$store.dispatch("PUSH_TO_CART", this.modal_product);
    } else {
     console.log("PRODUCT IS EXIST IN THE CART");
    }
   } else {
    this.$store.dispatch("PUSH_TO_CART", this.modal_product);
   }
   this.$store.dispatch("SHOW_MODAL", null);
  }
 },
 computed: {
  totalPrice() {
   return this.modal_product.count * this.modal_product.price;
  },
  modal_product() {
   return this.$store.getters.getModalProduct();
  },
  cart() {
   return this.$store.getters.getCart();
  }
 },
 mounted() {
  let vm = this;
  document.addEventListener("click", function (item) {
   if (item.target === vm.$refs["popup_wrapper"]) {
    vm.exitPopup();
   }
  });
 }
};
</script>
