<template>
<div id="app">
 <Notifications />
 <Header />
 <router-view />
 <Footer />
 <transition name="fade">
  <Vpopup modalName="productModal" v-if="modalName" />
 </transition>
</div>
</template>

<script>
import Header from "@/layouts/MyHeader";
import Footer from "@/layouts/Footer";
import Ordering from "@/views/OrderBasket.vue";
import Vpopup from "@/components/V-popup";
import Notifications from "@/components/Notification";
export default {
 components: {
  Header,
  Footer,
  Ordering,
  Vpopup,
  Notifications
 },
 computed: {
  modalProduct() {
   return this.$store.getters.getModalProduct();
  },
  modalName() {
   return this.$store.getters.getModalName();
  }
 },
 data: () => ({
  vPopup: false
 }),
 watch: {
  modalName() {
   console.log(this.modalName);
   if (this.modalName) {
    document.body.style.overflowY = "hidden";
   } else {
    document.body.style.overflowY = "auto";
   }
  }
 },
 mounted() {
  let bottomNav = document.querySelector(".bottom-nav");
  if (this.$route.path === "/") {
   window.addEventListener("scroll", () => {
    const scrollY = window.scrollY;
    if (scrollY >= 100) {
     bottomNav.style.transform = "translateY(0)";
    } else {
     bottomNav.style.transform = "translateY(-200%)";
    }
   });
  };
  document.addEventListener('DOMContentLoaded', function () {
   let goUp = document.getElementById('go-up')
   goUp.onclick = function (click) {
    click.preventDefault();
    scrollTo(0, 0);
   }
  });
 }
};
</script>

<style lang="scss">
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~vue-multiselect/dist/vue-multiselect.min.css";
@import "assets/style/main.scss";
</style>
