<template>
  <footer>
    <div class="go-up" id="go-up">
      <img src="@/assets/icons/arrow-top-blue.svg" alt />
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-6 order-sm-2 order-xl-1">
          <ul>
            <li class="title-link">
              <a href="#">Tap Tatti</a>
            </li>
            <li>
              <a href="#">О нас</a>
            </li>
            <li>
              <a href="#">Карьера</a>
            </li>
            <li>
              <a href="#">Блоги</a>
            </li>
            <li>
              <a href="#">Акции</a>
            </li>
          </ul>
        </div>
        <div class="col-xl-3 col-6 order-sm-3 order-xl-2">
          <ul>
            <li class="title-link">
              <a href="#">Это интересно</a>
            </li>
            <li>
              <a href="#">Встречаю гостей</a>
            </li>
            <li>
              <a href="#">Оформить свою продукцию</a>
            </li>
            <li>
              <a href="#">Абонемент</a>
            </li>
          </ul>
        </div>
        <div class="col-xl-3 order-sm-4 order-xl-3">
          <ul>
            <li class="title-link">
              <a href="#">Мы принимаем оплату</a>
            </li>
            <div class="footer-card">
              <a href="#">
                <img src="@/assets/images/epay.png" alt />
              </a>
              <a href="#">
                <img src="@/assets/images/visa.png" alt />
              </a>
              <a href="#">
                <img src="@/assets/images/mastercard.png" alt />
              </a>
            </div>
          </ul>
        </div>
        <div class="col-xl-3 order-sm-1 order-xl-4 footer-last">
          <div class="title-link">
            <img src="@/assets/images/phone-call.png" alt />
            <div>
              <a href="tel: +7 (777) 111 22 33">+7 (777) 111 22 33</a>
              <p>Бесплатно с мобильного</p>
            </div>
          </div>
          <ul>
            <li></li>
            <li>
              <button type="btn" class="btn-blue">Обратная связь</button>
            </li>
            <li>
              <p class="info-">
                Права на публикуемые на сайте
                материалы принадлежат
                «TapTatti» © 2020
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-end mt-3">
        <div class="row">
          <div class="col-xl-4">
            <div class="icon-social">
              <span class="icon">
                <a href="#">
                  <i class="fab fa-facebook-square"></i>
                </a>
              </span>
              <span class="icon">
                <a href="#">
                  <i class="fab fa-instagram"></i>
                </a>
              </span>
              <span class="icon">
                <a href="#">
                  <i class="fab fa-vk"></i>
                </a>
              </span>
              <span class="icon">
                <a href="#">
                  <i class="fab fa-youtube"></i>
                </a>
              </span>
              <span class="icon">
                <a href="#">
                  <i class="fab fa-telegram"></i>
                </a>
              </span>
            </div>
          </div>
          <div class="col-xl-5">
            <ul>
              <li>
                <a href="#">Правовая информация</a>
              </li>
              <li>
                <a href="#">Калорийность и состав</a>
              </li>
              <li>
                <a href="#">Помощь</a>
              </li>
            </ul>
          </div>
          <div class="col-xl-3">
            <div class="logo-simplex">
              <a href="#">
                <img src="@/assets/images/by.png" alt />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>