<template>
<div class="header-wrapper dropdown_wrapper">
 <div class="header" id="header">
  <div class="container p-0">
   <div class="row">
    <div class="col-xl-3 col-lg-3">
     <div class="header-mobile">
      <div class="burger" @click="mobileActive()" :class="{burgerActive}">
       <span></span>
      </div>
      <div class="logo">
       <router-link to="/">
        <img src="../assets/images/logo.png" alt />
       </router-link>
      </div>
      <div class="mobile-cart">
       <i>
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
         <path fill-rule="evenodd" d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
        </svg>
        <span>3</span>
       </i>
      </div>
     </div>
    </div>
    <div class="col-xl-9 col-lg-9 minus-m pl-0">
     <div class="nav">
      <ul class="nav-links">
       <li>
        <a href="#">Магазин</a>
       </li>
       <li>
        <a href="#">Акции</a>
       </li>
       <li>
        <a href="#">Блоги</a>
       </li>
       <li>
        <a href="#">О нас</a>
       </li>
       <li>
        <a href="#">Контакты</a>
       </li>
      </ul>
      <div class="header-right">
       <ul>
        <li class="city-select">
         <i class="fas fa-map-marker-alt"></i>
         <v-select :options="options" label="value" :clearable="false" v-model="selectCity"></v-select>
        </li>
        <li class="lang-select">
         <v-select :options="lang" label="value" :clearable="false" v-model="selectlang"></v-select>
        </li>
        <li class="dropdown-main" id="dropdown_wrapper" ref="dropdown_wrapper">
         <div class="bonus-user" @click.prevent="showDropdown.profile = !showDropdown.profile,showHeaderBasket = false, showDropdown.restorePassword = false, showDropdown.codeRestorePassword = false">
          <svg width="24" height="29" viewBox="0 0 24 29" fill="none" xmlns="http://www.w3.org/2000/svg" class="user-icon">
           <circle cx="12.1406" cy="7.33205" r="5.51564" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" />
           <path d="M2 26.8164V22.9885C2 17.3879 6.54021 12.8477 12.1409 12.8477C17.7415 12.8477 22.2817 17.3879 22.2817 22.9885V26.8164" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
          <div class="bonus-count">
           <b>Вход</b>
          </div>
         </div>

         <div class="dropdown-menu-header" v-if="showDropdown.showUser">
          <ul>
           <li>
            <img src="@/assets/icons/profile.svg" alt />
            <a @click.prevent="showDropdown.profile = !showDropdown.profile">Профиль</a>
           </li>
           <li>
            <img src="@/assets/icons/settings.svg" alt />
            <a href="#">Настройки</a>
           </li>
           <li>
            <img src="@/assets/icons/exit-profile.svg" alt />
            <a href="#">Выход</a>
           </li>
          </ul>
         </div>
         <div>
          <transition name="fade">
           <div class="profile" v-if="showDropdown.profile">
            <div class="profile-header">
             <div class="tabs-btn">
              <a href="#" @click.prevent="tabRegist('signIn'), showDropdown.codeDropdown = false" :class="{activeTab: showDropdown.signIn}">Войти</a>
              <a href="#" @click.prevent="tabRegist('regist'), showDropdown.codeDropdown = false" :class=" {activeTab: showDropdown.regist ||  showDropdown.codeDropdown}">Регистрация</a>
             </div>
            </div>
            <div class="profile-content" v-if="showDropdown.signIn">
             <form action>
              <label for>Номер телефона</label>
              <div class="input-num">
               <img src="@/assets/images/flag.png" alt />
               <input type="tel" v-mask="'+#(###) ###-##-##'" placeholder="+7 (___) ___ __ __" class="input-text" />
              </div>
              <label for>Пароль</label>
              <div class="input-pass">
               <input type="password" placeholder="・・・" class="input-text" />
               <a href="#" @click.prevent="restorePassword">Восстановить пароль</a>
              </div>
              <input type="submit" class="btn brown-btn" />
             </form>
            </div>

            <div class="profile-content" v-if="showDropdown.regist">
             <form action>
              <label for>Ваше имя</label>
              <div>
               <input type="text" class="input-text" placeholder="Как Вас зовут?" />
              </div>
              <label for>Номер телефона</label>
              <div class="input-num">
               <img src="@/assets/images/flag.png" alt />
               <input type="tel" v-mask="'+#(###) ###-##-##'" placeholder="+7 (___) ___ __ __" class="input-text" />
              </div>
              <label for>Пароль</label>
              <div class="input-pass">
               <input type="password" placeholder class="input-text" />
              </div>
              <label class="label-date" for>
               Дата рождения
               <img src="@/assets/images/info.png" alt />
               <div class="tooltip-product">
                <p>Дата рождения</p>
               </div>
              </label>
              <div class="input-num">
               <input type="date" class="input-text" />
              </div>
              <input type="submit" class="btn brown-btn" @click.prevent="showDropdown.regist = false, showDropdown.codeDropdown = true,codeRestorePassword()" />
             </form>
            </div>
            <div class="code-dropdown" v-if="showDropdown.codeDropdown">
             <p>
              На указанный номер телефона
              <br />
              <b>+7 747 392 43 83</b> было отправлено
              активационное сообщение.
              <br />
              <br />Для входа на сайт необходимо ввести
              код из сообщения.
             </p>
             <form action>
              <div class="code">
               <input @keyup="changeInput($event, 1)" ref="input_1" :value="inputs[0]" :maxlength="maxlength" />
               <input @keyup="changeInput($event, 2)" ref="input_2" :value="inputs[1]" :maxlength="maxlength" />
               <input @keyup="changeInput($event, 3)" ref="input_3" :value="inputs[2]" :maxlength="maxlength" />
               <input @keyup="changeInput($event, 4)" ref="input_4" :value="inputs[3]" :maxlength="maxlength" />
               <input @keyup="changeInput($event, 5)" ref="input_5" :value="inputs[4]" :maxlength="maxlength" />
              </div>
              <div class="timer" v-if="timer > 0">Повторно отправить код {{ timer }}</div>
              <a href="#" class="timer" v-else>Отправить код заново</a>
              <input type="submit" class="btn brown-btn" value="Войти" />
             </form>
            </div>
           </div>
          </transition>
          <div class="restore-password profile" v-if="showDropdown.restorePassword">
           <form action>
            <label for>Номер телефона</label>
            <div class="input-num">
             <img src="@/assets/images/flag.png" alt />
             <input type="tel" v-mask="'+#(###) ###-##-##'" placeholder="+7 (___) ___ __ __" class="input-text" />
            </div>
            <div class="input-pass">
             <a href="#" @click.prevent="rememberedPassword">Я вспомнил пароль!</a>
            </div>
            <input type="submit" class="btn brown-btn" value="Восстановить пароль" @click.prevent="showDropdown.codeRestorePassword = true, codeRestorePassword()" />
           </form>
          </div>
          <div class="code-dropdown profile" v-if="showDropdown.codeRestorePassword">
           <p>
            На указанный номер телефона
            <br />
            <b>+7 747 392 43 83</b> было отправлено
            активационное сообщение.
            <br />
            <br />Для входа на сайт необходимо ввести
            код из сообщения.
           </p>
           <form action>
            <div class="code">
             <input @keyup="changeInput($event, 1)" ref="input_1" :value="inputs[0]" :maxlength="maxlength" />
             <input @keyup="changeInput($event, 2)" ref="input_2" :value="inputs[1]" :maxlength="maxlength" />
             <input @keyup="changeInput($event, 3)" ref="input_3" :value="inputs[2]" :maxlength="maxlength" />
             <input @keyup="changeInput($event, 4)" ref="input_4" :value="inputs[3]" :maxlength="maxlength" />
             <input @keyup="changeInput($event, 5)" ref="input_5" :value="inputs[4]" :maxlength="maxlength" />
            </div>
            <div class="timer" v-if="timer > 0">Повторно отправить код {{ timer }}</div>
            <a href="#" class="timer" v-else>Отправить код заново</a>
            <input type="submit" class="btn brown-btn" value="Войти" />
           </form>
          </div>
         </div>
        </li>
        <li class="dropdown">
         <div class="cart-head" @click="showHeaderBasket=!showHeaderBasket,showDropdown.profile = false">
          <img svg-inline svg-sprite alt="Vue logo" src="@/assets/icons/cart.svg" class="vue-logo" />
         </div>
         <span class="cart-length">{{ cart.length }}</span>
         <transition name="fade">
          <div class="dropdown-cart" v-if="showHeaderBasket">
           <div class="list-vertical" v-if="cart.length">
            <cart-product v-for="(item, index) in cart" :key="index" :data="item" :index="index"></cart-product>
           </div>
           <div v-else class="cart-empty-head">
            <img src="@/assets/icons/basket-header.svg" alt />
            <h5>Корзина пуста</h5>
            <p>Выберите продукт из меню</p>
           </div>
           <div class="basket-last" v-if="this.cart.length > 0">
            <router-link to="/OrderBasket">
             <img src="@/assets/icons/delivery.svg" alt />Статус доставки
            </router-link>

            <div class="total-price">
             <p>Сумма заказа</p>
             <b>{{totalCount.toLocaleString()}}₸</b>
            </div>
            <router-link type="button" class="brown-btn" to="/orderBasket">Оформить заказ</router-link>
            <span class="be-bonus">
             <p>
              <span class="silver-text">Начислится</span>
              <b>710</b> бонусов
             </p>
            </span>
           </div>
          </div>
         </transition>
        </li>
       </ul>
      </div>
     </div>
    </div>
    <div class="nav-mobile" :class="{activeMenu}">
     <div class="bonus-mobile">
      <div class="bonus-user">
       <img src="@/assets/icons/user.svg" alt />
       <div class="bonus-count">
        <!-- <b>250</b>
                  <p>бонусы</p>-->
       </div>
      </div>
     </div>
     <ul class="nav-mobile-top">
      <li class="city-select">
       <i class="fas fa-map-marker-alt"></i>
       <v-select :options="options" label="value" :clearable="false" v-model="selectCity"></v-select>
      </li>
      <li class="lang-select">
       <v-select :options="lang" label="value" :clearable="false"></v-select>
      </li>
     </ul>
     <div class="title-link">
      <img src="@/assets/images/phone-call.png" alt />
      <a href="tel: +7 (777) 111 22 33">+7 (777) 111 22 33</a>
     </div>
     <ul class="nav-links">
      <li>
       <a href="#">Магазин</a>
      </li>
      <li>
       <a href="#">Акции</a>
      </li>
      <li>
       <a href="#">Блоги</a>
      </li>
      <li>
       <a href="#">О нас</a>
      </li>
      <li>
       <a href="#">Контакты</a>
      </li>
     </ul>
     <div class="btn-mobile-menu">
      <button class="btn-outline">
       <i class="fas fa-history"></i>История заказов
      </button>
      <button class="brown-btn">
       <img src="@/assets/images/cart.png" alt /> Корзина
      </button>
     </div>
    </div>
   </div>
  </div>
 </div>
 <div class="bottom-nav" v-if="this.$route.path === '/'">
  <div class="container">
   <div class="bottom-nav-content">
    <ul>
     <li>
      <a href="#1">Торты</a>
     </li>
     <li>
      <a href="#2">Пироги</a>
     </li>
     <li>
      <a href="#3">Выпечка</a>
     </li>
     <li>
      <a href="#4">Пирожное</a>
     </li>
     <li>
      <a href="#5">Печенье</a>
     </li>
     <li>
      <a href="#6">Полуфабрикаты</a>
     </li>
    </ul>
    <div class="call">
     <img src="@/assets/icons/phone-call.svg" alt />
     <a href="tel:+7 (777) 111 22 33">+7 (777) 111 22 33</a>
    </div>
   </div>
  </div>
 </div>
</div>
</template>

<script>
import Basket from "@/components/Basket.vue";
import CartProduct from "@/components/CartProduct";

export default {
 components: {
  Basket,
  CartProduct
 },
 data () {
  return {
   timer: 10,
   maxlength: 1,
   inputs: ["", "", "", "", ""],
   test: "test",
   showHeaderBasket: false,
   showDropdown: {
    showUser: false,
    showBasket: false,
    profile: false,
    signIn: true,
    regist: false,
    restorePassword: false,
    codeDropdown: false,
    codeRestorePassword: false
   },
   activeClass: {
    type: String,
    default: "is-active"
   },
   offset: {
    type: Number,
    default: 20
   },
   activeMenu: false,
   burgerActive: false,
   OpenIndicator: {
    render: createElement =>
        createElement("span", {
         class: {
          toggle: true
         }
        })
   },
   selectCity: "Нур-Султан",
   selectlang: "Рус",
   options: ["Нур-Султан", "Алматы", "Шымкент"],
   lang: ["Рус", "Каз", "En"]
  }
 },
 methods: {
  codeRestorePassword() {
   if (this.timer) {
    return setTimeout(() => {
     --this.timer;
     this.codeRestorePassword();
    }, 1000);
   }
  },
  restorePassword() {
   this.showDropdown.restorePassword = true;
   this.showDropdown.profile = false;
  },
  rememberedPassword() {
   this.showDropdown.restorePassword = false;
   this.showDropdown.profile = true;
  },
  mobileActive() {
   this.activeMenu = !this.activeMenu;
   this.burgerActive = !this.burgerActive;
  },
  tabRegist(val) {
   if (val === "signIn") {
    this.showDropdown.signIn = true;
    this.showDropdown.regist = false;
   } else {
    this.showDropdown.signIn = false;
    this.showDropdown.regist = true;
   }
  },
  changeInput: function (event, input) {
   var val = event.target.value;
   if (val.length >= this.maxlength) {
    var next = this.$refs["input_" + (input + 1)];
    if (next) {
     next.focus();
    } else {
     event.preventDefault();
    }
   }
   this.$set(this.inputs, input - 1, val);
  },
  toggle() {
   this.showDropdown.profile = ! this.showDropdown.profile
  },
  close(e) {
   if (! this.$el.contains(e.target)){
    this.showDropdown.profile = false
   }
  }
 },
 computed: {
  cart() {
   return this.$store.getters.getCart();
  },
  totalCount() {
   let counter = 0;
   for (let index = 0; index < this.cart.length; index++) {
    counter = counter + this.cart[index].price * this.cart[index].count;
   }
   return counter;
  }
 },
 created() {
  window.addEventListener('click', this.close)
 },
 beforeDestroy() {
  window.removeEventListener('click', this.close)
 },
};
</script>
